[2017-02-10 06:20] seb86 opened #1 "Cart Validation"
I would suggest working on this after all endpoints have been created and work well to handle the data for all product types and meta data.

[2018-01-15 07:20] leeseawuyhs commented on #1
I have been a plugin for WooCommerce-Cart-REST-API. If you like plugin i can upload to review.

[2018-01-15 10:16] Megan18 commented on #1
Please upload, I am very stuck on this

[2018-01-15 10:31] seb86 commented on #1
Please dont comment unrlated to the issue. Thank you.

[2018-01-15 11:09] Megan18 commented on #1
Sorry, but is any development begin?

[2018-01-15 11:18] seb86 commented on #1
@Megan18 Yes but I have yet uploaded my progress so far. Currently busy working on my new site before I share any new content.

[2018-01-15 15:57] Megan18 commented on #1
:(

[2018-01-16 02:44] leeseawuyhs commented on #1
I have been uploaded plugin into https://github.com/leeseawuyhs/WooCommerce-Cart-REST-API
(The idea fork from https://github.com/seb86/WooCommerce-Cart-REST-API)

[2018-01-16 20:37] Megan18 commented on #1
Leeseawuyhs you are hero! xoxo

On Tue, Jan 16, 2018 at 4:44 AM, VinhLe <notifications@github.com> wrote:

[2018-01-18 00:29] #1 closed

[2018-01-18 00:30] seb86 opened #2 "Test | Endpoint | View Cart"

[2018-01-18 00:31] seb86 opened #3 "Test | Endpoint | Clear Cart"

[2018-01-18 00:31] seb86 opened #4 "Test | Endpoint | Add to Cart"

[2018-01-19 15:38] seb86 opened #5 "Add Featured Product Image URL to Cart Endpoint"
Would it be practical for the featured product image URL to be added to the cart endpoint per product so you would not have to do another request to get it?

This is what the cart endpoint returns currently as default.

![Cart endpoint with a product in cart.](https://cldup.com/sjfk5chCXB.png)

The same returns when `WC()->cart->get_cart();` is called but if you were to use the cart endpoint to di

[2018-01-22 19:34] Megan18 commented on #4
How can I help with testing?

[2018-01-22 19:42] seb86 commented on #4
@Megan18 I have yet to write documentation but if you follow [WooCommerce REST API documentation](http://woocommerce.github.io/woocommerce-rest-api-docs/) you will have some idea how to test.

[2018-01-24 01:24] seb86 opened #6 "Test | Endpoint | Update Item in Cart"
Post Method: **POST**

[2018-01-24 01:25] seb86 opened #7 "Test | Endpoint | Remove Item in Cart"
Post Status: **DELETE**

[2018-01-24 01:26] seb86 opened #8 "Test | Endpoint | Restore Item in Cart"
Post Status: **GET**

[2018-01-31 12:42] ponmurugan123 opened #10 "Facing 404 error when we triggered API call using REST API"
## Prerequisites

- [ ] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [ ] The issue still exists against the latest `master` branch of WooCommerce Cart REST-API on Github (this is **not** the same version as on WordPress.org!)
- [ ] I have attempted to find the simplest possible steps to reproduce the issue.

## Steps to reproduce the issue

1. I

[2018-01-31 12:52] seb86 commented on #10
1. What version of WooCommerce are you using?
2. What library/language are you using to call the API?

[2018-01-31 12:56] ponmurugan123 commented on #10
Hi Sebastien,
     Thanks for your quick reply....
Please find the details below,
1. Woo Commerce Version 3.1.2
2. I have triggered that API call by using angular 5

[2018-01-31 13:02] seb86 commented on #10
Do you have WordPress v4.4 or above?
Do you have pretty permalinks in "**Settings > Permalinks**" so that the custom endpoints are supported. Default permalinks will not work.

[2018-01-31 13:18] ponmurugan123 commented on #10
I have used WordPress 4.8.5.
Yes I have set pretty permalinks in **settings >permalinks** . But still am facing error.

[2018-01-31 13:23] seb86 commented on #10
Are you able to view the endpoint directly in your browser?

[2018-01-31 13:50] seb86 commented on #10
I just checked your URL and noticed a mistake. You forgot to request the REST API correctly.

Wrong Way: http://sample.dev.net/wc/v2/cart/clear

Correct Way: http://sample.dev.net/wp-json/wc/v2/cart/clear

[2018-01-31 14:37] #10 closed

[2018-01-31 15:10] ponmurugan123 commented on #10
Its working fine by loading this [http://sample.dev.net/wp-json/wc/v2/cart/clear]
Thanks!

[2018-02-08 06:24] IntelliJAbhishek commented on #5
Please add featured url . Adding an extra field does not cause performance issue. Every cart show a image o product for that we need do an extra api call which make response time slow. so please add featured_image_url. #Request.

[2018-02-08 17:29] seb86 commented on #5
@IntelliJAbhishek Just the featured image in its full size, thumbnail or all WooCommerce image sizes?

[2018-02-09 04:50] IntelliJAbhishek commented on #5
@seb86 Just the featured image in its full size thumbnail would be great.

[2018-02-09 10:17] notmmao opened #11 "Is it possible to get any customer's shopping cart by a customer ID?"
The situation is:
I have a woocommerence as backend and a python-flask middleware as frontend.
The frontend has built-in a key/secret pair associated a shop-manager-user.
The end-user sends a request to the frontend, the middleware authenticate the end-user and gets the resources from backend by the built-in key/secret pair.
So I expect to find a way for endusers to access their own cart.
Thank Yo

[2018-02-09 12:22] seb86 commented on #11
HI @notmmao

When a customer has added items to the cart those items are stored in the database and a cookie on the users computer but to identify them by a customers ID im not sure.

I suggest looking at the cart class in the core of WooCommerce. This rest api is designed to do the same as the cart using its functions only. Nothing custom.

Let me know if a filter is required in the rest api some

[2018-02-12 04:55] notmmao commented on #11
Thank you for your reply and sorry to disturb your weekend.

My middleware-frontend uses a different domain name than woocommerence-backend. so I can't get the cookie ISSUE by backend. but, I can get the the shop-manager-user(the woo-rest key/secret associated)'s cart item by WooCommerce-Cart-REST-API. So I think in the backend Database there should also be a data corresponding to the user local c

[2018-02-17 16:57] #11 closed

[2018-02-20 04:36] IntelliJAbhishek commented on #5
can you tell me how to use this API. I want to test it. As I m developing Mobile app for woo-commerce I'm looking forward to this API. Right now i'm using local storage but I want to use this api in my project. plox tell me how to configure this.

[2018-02-20 05:47] IntelliJAbhishek commented on #5
Ok I added this plugin but when I add product I'm Getting Some wornings products adds successful but getting warnings in postman.
I have posted this ..
Method- POST
Endpoint- /cart/add
data- product_id=70 , quantity=2

**Response**
[code]

[2018-02-20 16:23] seb86 commented on #5
@IntelliJAbhishek Please report issues or bugs related to the ticket. Also, I do not see anything related to those warnings with my API.

[2018-02-20 16:23] #5 closed

[2018-02-23 17:58] seb86 opened #12 "Side Cart Plugin using the Cart API"
Hello.

I wanted to know if anyone of you currently watching or started this repository are interested in a side cart that appears when items are in the cart or added to the cart and uses the cart API rather than the cart widget?

[James Koster](https://github.com/jameskoster/woocommerce-cart-tab) has done something similar to what I would like to do but my version would use the REST API instead.

[2018-02-24 02:56] seb86 commented on #2
Works fine.

[2018-02-24 02:56] #2 closed

[2018-02-25 14:55] thisisjaiswal opened #13 "Shipping Rate"
Now as you have the api to manage cart, are you planning to add one for calculating shipping rates?

[2018-02-25 15:27] seb86 commented on #13
You can if you like [contribute](https://github.com/seb86/WooCommerce-Cart-REST-API/blob/master/CONTRIBUTING.md) to the project and be credited for it.

[2018-02-27 07:37] ponmurugan123 opened #14 "rest_no_route response came when we removing the cart item"
## Steps to reproduce the issue
![removing cart item using delete method](https://user-images.githubusercontent.com/35921785/36716092-109cd306-1bbf-11e8-8511-01563140fa39.png)
![rest_no_route response](https://user-images.githubusercontent.com/35921785/36716094-10d36880-1bbf-11e8-8ebe-2be81328f049.png)
![cart response](https://user-images.githubusercontent.com/35921785/36716118-21a84fcc-1bbf-11e8-

[2018-02-27 10:04] seb86 commented on #14
Thank you for reporting the issue. I will take a look at what went wrong and push a fix soon.

[2018-02-27 13:10] #6 closed

[2018-02-27 13:10] #8 closed

[2018-02-27 15:10] seb86 commented on #14
Please test the latest changes applied to the repository. The endpoint has changed to prevent conflict. I have also improved validation.

It is now: `/wp-json/wc/v2/cart/cart-item?cart_item_key=<cart_item_key>`

Let me know if you have any further issues with this.

Thank you.

[2018-02-27 15:11] seb86 commented on #7
Related: #14

[2018-02-28 05:09] ponmurugan123 commented on #14
Hi Sébastien,
Now able to trigger an API call with   "/wp-json/wc/v2/cart/cart-item?cart_item_key=<cart_item_key"

But now I am facing  **Unable to remove item from cart.** error from the API. Because I have sent the param as below

In remove_item method, we are changing this param's type to integer by absint() method
Seems this might be the cause for this issue. Please check and confirm.

Thanks.

[2018-02-28 10:50] ponmurugan123 commented on #14
While triggering update API, following error came by response,
API : "/wp-json/wc/v2/cart/cart-item?cart_item_key=<cart_item_key"
Method : POST
<br />
<b>Warning</b>:  is_numeric() expects exactly 1 parameter, 3 given in <b>/opt/lampp/htdocs/sample.dev.net/wp-includes/rest-api/class-wp-rest-request.php</b> on line <b>903</b><br />
<br />
**<b>Fatal error</b>:  Uncaught Error: Call to a member func

[2018-03-01 11:36] seb86 commented on #14
Cart contents only returns empty if the cart is empty so you cant update an item that is not there.

Please share your WooCommerce system status report and tell me what library you are using with the rest api.

Thank you.

[2018-03-01 11:44] ponmurugan123 commented on #14
Hi Please find my site's  WooCommerce system status report

``
### WordPress Environment ###

Home URL: http://sample.dev.net
Site URL: http://sample.dev.net
WC Version: 3.1.2
Log Directory Writable: ✔
WP Version: 4.8.5
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language: en_US

### Server Environment ###

Server Info: Apache/2.4.26 (Unix) OpenSSL/1.0.2l PHP/7.1.7 mod_perl

[2018-03-01 11:55] seb86 commented on #14
What library are you using I asked to get this error as I have not been able to replicate it.

[2018-03-01 12:25] ponmurugan123 commented on #14
Hi,
Sorry I did not get you clearly. Are you asking about front end libraries to make api request?

I am using angular 5 (ionic 3) with angular HTTP module.

[2018-03-01 12:34] seb86 commented on #14
I don’t know Angular sorry. I found this wrapper. https://github.com/michaeldoye/ng2woo

Let me know if that is helpful. Also, can you test with just WooCommerce and the Cart REST API enabled only.

Thanks.

[2018-03-01 12:43] ponmurugan123 commented on #14
Thanks for your link. I have verified it. That has basic code in angular.

I think,
From angular. It works well from making api request to WooCommerce.

When I got cart details from v2/cart call, $this->cart_contents[key] has not updated .
So When we make update/remove call, we are getting cart items from $this->cart_contents variable only.

Could you please help me on why $this->cart_contents[key

[2018-03-01 13:03] seb86 commented on #14
Could you share a code snippet please.

[2018-03-01 13:08] ponmurugan123 commented on #14
Please find the code to get cart from session

`
	/**
	 * Get the cart data from the PHP session and store it in class variables.
	 */
	public function get_cart_from_session() {
		// echo "cartcontents".json_encode($this->cart_session_data);
		// Load cart session data from session
		foreach ( $this->cart_session_data as $key => $default ) {
			$this->$key = WC()->session->get( $key, $default );

[2018-03-01 13:59] seb86 commented on #14
Sorry but I don't see how this is related to the API. I asked for the code snippet for how you are calling it. This is completely different.

[2018-03-01 13:59] #14 closed

[2018-03-02 10:06] ponmurugan123 commented on #14
Hi,
When I sent the REST API as below, issue has been working fine

`headers.append('Content-Type', 'application/json');
        var options = new RequestOptions({
            headers: headers,
            withCredentials: true
        });`

Thanks for supporting me to fix this issue.

[2018-03-03 00:02] #7 closed

[2018-03-04 11:58] seb86 opened #15 "Create Add Coupon Endpoint"

[2018-03-05 04:52] IntelliJAbhishek commented on #13
yes @seb86 it would be great if we can apply coupons and choose shipping methods this will best plugin for developers. You are doing great work woocommerce provided us half baked rest api.

[2018-03-05 12:31] seb86 commented on #13
Thank you @IntelliJAbhishek

[2018-03-09 15:19] seb86 opened #16 "Add multiple products to cart"
Thought this would be good to put on the watch list to add support for the API.

Ticket Reference: https://github.com/woocommerce/woocommerce/pull/17855

Tutorial Reference: https://dsgnwrks.pro/snippets/woocommerce-allow-adding-multiple-products-to-the-cart-via-the-add-to-cart-query-string/

[2018-03-09 15:37] seb86 commented on #4
@Megan18 Just thought I let you know that I have completed the documentation for my API. https://seb86.github.io/WooCommerce-Cart-REST-API-Docs/

[2018-03-09 15:37] #4 closed

[2018-03-12 06:54] shafinraxa opened #18 "Question: Please give how to add endpoint to view cart as per customer"
## Prerequisites

- [ ] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of WooCommerce Cart REST-API on Github (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce the issue.
- [x] I have included a failing test a

[2018-03-15 06:40] #18 closed

[2018-03-27 12:43] Mr-AjayM opened #19 "Invalid Argument Error for foreach()"
Hello, I have found the Issue When there call the get cart API. calling the rest with [/wc/v2/cart](url).
Errors are in the file WooCommerce-Cart-REST-API-master\includes\api\class-wc-rest-cart-controller.php

## Prerequisites

- [X] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [X] The issue still exists against the latest `master` branch of Woo

[2018-03-27 13:07] seb86 commented on #19
Thank you for reporting the issue @Mr-AjayM

I see that I should be returning the response [here](https://github.com/seb86/WooCommerce-Cart-REST-API/blob/master/includes/api/class-wc-rest-cart-controller.php#L159) if the cart is empty. I will correct this asap.

[2018-03-27 14:15] seb86 commented on #19
@Mr-AjayM Can you confirm that the error is now gone after making the change.

[2018-03-27 14:16] Mr-AjayM commented on #19
@seb86 Error is resolved.

[2018-03-27 14:21] #19 closed

[2018-03-29 11:41] bomkhati opened #22 "Question: How to view cart contents?"
I was successfull on adding product to cart, but how do we view those cart without loggin in, Does this plugin needs extra setting to view the cart if you are not logged in users. I am getting empty cart. I would be so glad if you can help me out

[2018-03-29 15:48] seb86 commented on #22
Viewing the carts contents functions the same as you were to view the cart on site. There are no extra parameters.

**See:** https://seb86.github.io/WooCommerce-Cart-REST-API-Docs/#view-cart-contents

 If you are experiencing issues then it maybe to do with your site session, cache or cookies.

[2018-04-01 14:01] Mr-AjayM opened #23 "syntax error with the function name."
The plugin code has the syntax error with the function name.

I have installed the latest version of WordPress( 4.9.4  ),  WooCommerce ( 3.3.4 ) and latest version of cart rest api for woocommerce plugin.

When I have clicked on the Activate plugin option of this plugin it gives the syntax error `unexpected include` in WooCommerce-Cart-REST-API\includes\class-wc-cart-rest-api-init.php on line 57

[2018-04-01 15:03] seb86 commented on #23
WooCommerce version 3.4.4 does not exist yet @Mr-AjayM Do you mean version 3.3.4?

Also, what are you using to debug as I am not getting this syntax error?

[2018-04-01 15:09] Mr-AjayM commented on #23
Sorry, for the inconvenience for the version of the WooCommerce.
Issue faced when just activate the plugin.

[2018-04-01 15:10] seb86 commented on #23
So you dont have WP debug enabled and it returned with that error when activating, correct?

[2018-04-01 15:13] Mr-AjayM commented on #23
yes. Exactly. Please look into this you will found the issue with the code at the link that I have mentioned in the issue.

[2018-04-01 15:15] Mr-AjayM commented on #23
I have checked with the PHP version 5.5.12

[2018-04-01 15:16] seb86 commented on #23
Ah. The minimum PHP requirement is version 5.6

[2018-04-01 15:17] seb86 commented on #23
I will make that clear in the requirements.

[2018-04-01 15:21] Mr-AjayM commented on #23
huhh.... I will update my PHP version and let you know for the same. Please do not close this issue.

[2018-04-02 08:46] Mr-AjayM commented on #23
I am able to reproduce this issue in 5.6.25 version of PHP. I have checked also that Keywords can be used as a name in PHP 7 Only. My suggestion is what it should be changed from a keyword.

[2018-04-02 13:18] Mr-AjayM commented on #23
And If you are planning to upload on wordpress.org then you have to follow all the coding standard of the WordPress.

[2018-04-02 14:51] seb86 commented on #23
@Mr-AjayM Thank you for feedback. I will run some tests and make adjustments before submitting to WordPress.org again.

[2018-04-05 07:19] Janie20 opened #25 "Unable to remove item from cart"
Sorry, if this is the right place to post this, but I have no idea where to reach help.
i'm creating an ios application for woocommerce website and I was able to use this plugin to add product to cart , view cart , and clear cart , but I could not get through with the delete request to remove an item from cart , below is the screen short I used postman to test out

------  GET request
![screen sho

[2018-04-06 01:58] #22 closed

[2018-04-06 03:30] seb86 opened #26 "Feedback: What do you think about having saved carts added to the mix?"
I'm sure many of you are also wanting the ability for customers to save items for later that they have added to the cart but what about saving the whole cart for later.

Amazon does a good job of allowing you to save items for later one item at a time but not the whole cart.
Like most e-commerce sites, Razer does not allow you to save items one at a time but does allow you to save the whole cart t

[2018-04-08 08:57] kuyoonjo opened #27 "missing customer id?"
Hi, how can i manage cart for a specified customer?

[2018-04-08 14:28] seb86 commented on #25
When you say the delete request was SUCCESS with status 500 does that mean it is deleting the item but still returns an error response?

[2018-04-09 09:43] Janie20 commented on #25
@seb86 Sorry for my english and No it did not delete the item in the cart.

[2018-04-10 11:32] seb86 commented on #25
OK I will look into the issue. Could you please provide me with your WooCommerce system status report. Thank you.

[2018-04-10 19:10] seb86 commented on #25
@Janie20 I have not been able to replicate your issue. I was able to remove an item using Postman with no problems.

Did you add the item via Postman first or did you add the item via the site first then try to remove it via Postman because it can not see your browser session?

### Steps I took to remove item in Postman.
1. View cart - cart is empty
2. Add an item - cart returned with item
3. View

[2018-04-11 10:03] Janie20 commented on #25
I did the same steps that you took , but i would get the error on step 4.
I'm new to woocommerce , is this the system report you are looking for ?
`
### WordPress Environment ###

Home URL: http://localhost/wordpress
Site URL: http://localhost/wordpress
WC Version: 3.3.4
Log Directory Writable: ✔
WP Version: 4.9.5
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language: en_US

[2018-04-11 10:06] seb86 commented on #25
Thank you for sharing your system report. Can you tell me why you have WP REST API installed? It's already part of WordPress. That could be causing some issues. Please disable it and try again.

[2018-04-11 10:11] Janie20 commented on #25
I deactivated it and try again , but still getting the same error result.

[2018-04-11 10:39] seb86 commented on #25
Are you using authentication when removing the item?

[2018-04-11 10:40] seb86 commented on #25
Can you make sure the item key is also correct.

[2018-04-12 01:24] Janie20 commented on #25
No, I'm not using authentication, when removing the item. I make sure my cart is not empty as you can see in the first picture , then I tried to remove the item , I only put the cart_item_key on the body.
I can't figure out where I'm wrong , am I missing any steps here ? Really appreciate your help !

![screen shot 2018-04-12 at 9 17 42 am](https://user-images.githubusercontent.com/38094833/386511

[2018-04-12 03:18] seb86 commented on #25
I see what you are doing now. You are adding the cart_item_key as form-data when you should be adding it to the parameters. Clear the form-data and click on "Params" next to the big blue "Send" button.

Then add the key and value there. Then press "Send".

[2018-04-12 03:26] Janie20 commented on #25
Oh, I did not know that , I tried what you suggest and this is my result.
![screen shot 2018-04-12 at 11 24 51 am](https://user-images.githubusercontent.com/38094833/38654904-38e05ec6-3e44-11e8-8c58-1cd668cb5c72.png)

[2018-04-12 03:34] seb86 commented on #25
Can you disable all plugins execpt for WooCommerce and the Cart REST API and try again after refreshing your permalinks to flush the rewrite rules please.

[2018-04-12 03:50] Janie20 commented on #25
still not working ...

[2018-04-12 04:00] seb86 commented on #25
Then the only thing I can think of is that there is something wrong with your Postman software because you should only get that error if the cart_item_key is not added as a parameter which you have done.

[2018-04-12 04:02] seb86 commented on #25
Are you able to run the same tests with your site online?

[2018-04-12 05:38] Janie20 commented on #25
You mean publish my website on the internet ?

I used ngrok to run my site and repeat the steps ( with only two plugin activated which is the Cart REST API and WooCommerce , sadly I'm still getting the same result.

This is the screenshot capture on the ngrok terminal
![screen shot 2018-04-12 at 1 30 54 pm](https://user-images.githubusercontent.com/38094833/38658122-4903c2c2-3e56-11e8-80a4-70ef80a

[2018-04-12 05:50] seb86 commented on #25
This is so weird. If the body is used to apply `cart_item_key` with form-data set it does not send the item key as a string so reports the error.

If posted with `x-www-form-urlencoded` set, it works.

[2018-04-12 06:02] seb86 commented on #25
But the best option is still to use the "Params" to apply the `cart_item_key`. Works every time for me so what I would like you to do is the following:

1. View Cart - **(GET)** https://sebdumont.xyz/dev/wp-json/wc/v2/cart - Does it say "Cart is empty!"?
2. Add Product - **(POST)** https://sebdumont.xyz/dev/wp-json/wc/v2/cart/add?product_id=60 - Does it return item data in the body response?
3. Do

[2018-04-12 19:06] seb86 commented on #25
@Janie20 Let me know when you have run the tests as I asked above. Thank you.

[2018-04-12 23:41] tmishutin opened #28 "Mixing carts between users"
## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of WooCommerce Cart REST-API on Github (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have included a failing test a

[2018-04-13 02:35] seb86 commented on #28
Hi @tmishutin

Could you update the Cart REST API for WooCommerce to version 1.0.2 as you said you are using the latest from GitHub but you are not. 1.0.1 is installed.

Also could you be much clearer on the steps to reproduce. Did this happen on the same computer and same browser?

How are you doing the tests? Directly in the browser or a program like Postman?

Can you test with only WooCommerce,

[2018-04-14 22:04] tmishutin commented on #28
The issues may be closed. There was an issue with JWT / woocommerce authentication. It's not related to the plugin. I'm sorry and thank you very much for your reply and awesome plugin.

[2018-04-14 22:04] #28 closed

[2018-04-18 01:41] Janie20 commented on #25
@seb86  I have founded whats the problem that causing the error , it turns out to be the cart item key that I get was the reason causing the error. I'm not sure if this is the main reason, but it works perfectly fine after I done some configuration on my site, then I go create a new product , and the key that generated become slightly different as I realize the key generated now start with a numbe

[2018-04-18 06:53] seb86 commented on #25
@Janie20 Can you tell me what configurations you made to your site that you think helped fix the issue?

If the issue is with the cart item key starting with a letter rather than a number then that will need to be confirmed.

Do all your products item key start with a letter or number? I will comfirm on my end to see if that is the case. So far no one else has reported this issue.

[2018-04-18 09:31] seb86 commented on #25
I can confirm that products `cart_item_key` can start with a letter or number. When it starts with a letter it is unable to validate the value not being a `0`. [See line 362-364](https://github.com/seb86/cart-rest-api-for-woocommerce/blob/master/includes/api/class-wc-rest-cart-controller.php#L362|L364) on removing an item.

I will change this validation and put out a release soon.

[2018-04-18 09:32] seb86 commented on #25
The same validation will be applied to restoring and updating an item.

[2018-04-18 10:14] seb86 commented on #25
OK I have pushed changes @Janie20.

Can you [download the update](https://github.com/seb86/cart-rest-api-for-woocommerce/archive/4fdb1ed528305e5845aaf89198a3210abb3b7aa8.zip) and run your tests again please to confirm.

Let me know if the issue is resolved afterwards. Thank you.

[2018-04-22 14:28] #25 closed

[2018-04-22 15:52] #23 closed

[2018-05-11 00:56] MakerManTom commented on #26
This might be answering my question. I'm trying to work out how to navigate through to my Cart built in Postman in my web browser?

Otherwise, multiple carts would be really handy for my use case.

Great work on this BTW!

[2018-06-06 15:17] 21stcn opened #30 "'validate_callback' 'is_numeric' arguments for Add Item rest route causes Fatal Error"
Using the php WooCommerce rest api library, I was getting a fatal error when adding items to cart:

[code]

`Fatal error: Uncaught exception 'Automattic\WooCommerce\HttpClient\HttpClientException' with message 'unexpected character' in .../wc-api-php/WooCommerce/HttpClient/HttpClient.php`

This fatal error was being caused because a warning was being thrown

`Warning: is_numeric() expects exactly

[2018-06-06 15:22] seb86 commented on #30
OK @21stcn Thank you for issuing the report. If you are able to put in a pull request with the correction I will merge it ready for next release.

[2018-06-12 05:02] 21stcn opened #31 "Completely broken with wp-api-php library"
## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of Cart REST-API for WooCommerce on Github (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have included a failing te

[2018-06-12 12:57] seb86 commented on #31
Hi @21stcn

It should be loading from session when the user is logged out but I think because you have set the consumer key and secret that it thinks you are logged in constantly. The cart endpoint does not require these.

Try removing them and see if it makes a difference.

[2018-06-12 15:39] 21stcn commented on #31
Thanks for your response.

The docs for the cart plugin recommend using the 'WooCommerce API - PHP Client' and the key and secret are required to use that library: https://github.com/woocommerce/wc-api-php

Is there an easy way to use your plugin with php without using that library, or without using the key and secret? For example, to get the contents of the cart without the above php wrapper libr

[2018-06-12 16:19] seb86 commented on #31
If you are only using the library for the cart then I would suggest forking the library and remove the required consumer key and secret and use your modified version instead.

That is the only quick solution I can provide at this time.

[2018-06-12 16:28] 21stcn commented on #31
Ok, I might consider it down the line. For now I think I'll just create orders using the rest api and skip the cart as I'm pushing a deadline.

Maybe update the docs for your plugin, if you get the opportunity, if it is indeed the case that it does not work out the box with the woocommerce rest api php wrapper library, as advertised.

Thanks for your assistance and time. Hopefully this plugin can

[2018-06-12 16:31] seb86 commented on #31
As my Cart REST API is not official I don't see WooCommerce making exceptions or adding Cart support in the coming REST API version but I will update the documentation when I get the chance. Thank you for testing and reporting back to me with your feedback.

[2018-06-14 10:48] #31 closed

[2018-06-17 01:31] hudsoncliff opened #32 "Question of the object name"
Hi, Im using this plugin for my e-commerce service and I really think this is a nice library!
It is working very good so far!

I have one question on adding an original parameter to the response.
I know how to use the register_rest_field function but don't know the object name which I should define to point the endpoint I want to modify.
Could you give me the object name for the cart data response

[2018-06-17 11:33] seb86 commented on #32
It's `cart`

[2018-06-17 11:33] #32 closed

[2018-06-17 11:52] seb86 commented on #30
Fixed.

[2018-06-17 11:52] #30 closed

[2018-07-24 13:41] an-rahulpandey commented on #11
I am also trying to do the same, have you figured it out?

[2018-07-31 12:13] FawadNL commented on #11
Having same issue here

[2018-07-31 12:37] hudsoncliff commented on #11
I have been through the same.
I changed the way to send my requests for the cart API.
1. Generate a consumer secret and key by admin or  core function for customer
2. Send the cart API with the consumer key and secret as a parameter
this way the server knows which user requested the cart API.

[2018-08-02 06:27] joshuaiz opened #33 "Clearing the cart should return an empty array"
First, this is great plugin so thank you!

I'm having issues with the Clear Cart endpoint: in a React app, it is quite common to have to filter an array to update state and/or send props to child components from a filtered/mapped array.

When you use the `clear` endpoint, it returns the string "Cart is empty!" which makes it really difficult to fully clear the cart. When I removed the string from

[2018-08-03 03:25] joshuaiz opened #34 "Add to cart does not send product_name to the API"
## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of Cart REST-API for WooCommerce on Github (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce the issue.
- [x] I have included a failing te

[2018-08-03 11:03] seb86 commented on #34
Hi @joshuaiz

The add to cart function is exactly the same as to how WooCommerce does it. The same data, the same message responses, the same filter.

There is an action hook you can use `do_action( 'wc_cart_rest_add_to_cart', $item_key, $data );` to return the product name in the initial response or any data about the product that is not yet returned.

I don't think the product name is actually d

[2018-08-03 18:58] joshuaiz commented on #34
Hi @seb86,

Got it. I was banging my head against a wall wondering why the `product_name` wasn't being returned like the docs!

I tried adding data via the hook but I don't think it gets fired when adding something to the cart via the endpoint as nothing triggers it in a headless app. Or am I missing something?

Is there a way to add data to the cart via the `data` parameter using the Add To Cart

[2018-08-03 20:25] skunkbad opened #35 "Fatal Error: Cannot throw objects that do not implement Throwable"
Since WP_Error does not extend Exception, and is not implementing Throwable, then when you do:

throw new WP_Error()

it results in a fatal error, and the error messages never get sent back in the request.

Instead, you should probably be doing something else, maybe just:

return new WP_Error()

This is for all the instances of "throw new WP_Error" that are found in the plugin.

[2018-08-04 00:34] seb86 commented on #35
@skunkbad  The add to cart function in this REST API was copied as is from the core of WC at the time of the initial development with only a small tweak for an action hook so I guess the error needs to be fixed in WC too if it has not already.

You are welcome to submit a pull request to fix this and you will get credit for your contribution.

[2018-08-04 01:54] seb86 commented on #34
The action hook is not fired via a URL. You have to do that part in PHP.

You may need to serialize your `cart_item_data`.

I don't know what language you are writing in but I can not provide support for anything else but the REST API its self.

[2018-08-04 01:59] joshuaiz commented on #34
@seb86 I realize that hook is in PHP - I added it to the functions.php of my theme but It doesn't seem like it was firing when the REST API request was made.

Understood about support.

This is a headless WordPress app with a normal WordPress back end and React front end using the REST API. The snippet above was JSX.

I'll give it a go with trying to serialize the `cart_item_data` and see if that

[2018-08-04 03:04] joshuaiz commented on #34
Ok I've made a little progress.

I was trying to serialize on the client end and WordPress didn't like anything I was sending, even after using `JSON.stringify()`. No matter what I did, I kept getting this error:

`Warning: is_array() expects exactly 1 parameter, 3 given in /app/public/wp-includes/rest-api/class-wp-rest-request.php on line 858`

So, I looked in `class-wp-rest-request.php` and coul

[2018-08-04 14:28] seb86 commented on #35
Pull request #36

[2018-08-04 14:28] #35 closed

[2018-08-04 14:29] seb86 commented on #33
@joshuaiz I will look into this.

[2018-08-04 17:06] aMedh commented on #34
$cart_item_data = [
        ["name" => 'Test']
    ];

    $arr = [];

    $data = [
        "product_id" => 1257,
        "quantity" => 1,
        "variation_id" => 1264,
        "variation" => $arr,
        "cart_item_data" => $cart_item_data
      ];
      $results = $woocommerce->post('cart/add', $data);

THis dies not seem to work for. It works if I leave varation and cart_item_data out. Plea

[2018-08-04 17:10] seb86 commented on #34
@aMedh You need to pass the data as an array not object.

[2018-08-04 17:40] seb86 commented on #34
So the add to cart function is pretty much the same as [this function](https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-cart.php#L1003). It looks like I need to update my add to cart function to support changes made to the core of WC cart so these variables are passed properly again.

I will create a new branch to push a change and I will let you know when it is ready to te

[2018-08-20 14:17] seb86 commented on #33
Hi @joshuaiz

Right now on line [#L223](https://github.com/seb86/cart-rest-api-for-woocommerce/blob/master/includes/api/class-wc-rest-cart-controller.php#L223) it returns this response: `return new WP_REST_Response( __( 'Cart is cleared.', 'cart-rest-api-for-woocommerce' ), 200 );`

This is the normal way to return a successful response for the REST-API, however, due to code formatting issues you

[2018-08-20 18:50] joshuaiz commented on #33
Hi @seb86,

Again, thanks for all your work on this plugin.

That seems like it would work. How would that response be returned from the API call?

Just as an example, here is what I am using now in my `addToCart()` function to check if the cart is empty:

[code]

^^ The '14' is the length of the string 'Cart is empty!' so if the cart is that length, clear it to an empty array. It's definitely a b

[2018-08-20 19:07] seb86 commented on #33
I have not tested it yet but the suggested change I made would return something like this:

[code]
and I just realized it needs to be encoded in json format which is what the normal REST-API response does for me.

so it should return like so to give you the returned result above:

[code]

Just out of curiosity @joshuaiz, why do you need to check if the cart is empty before adding an item?

[2018-08-20 22:12] #26 closed

[2018-08-21 00:05] joshuaiz commented on #33
Hi @seb86,

If there is already a product in the cart, then in React you can just merge a new item into the cart array using the spread operator.

But if it is 'empty' currently, the cart still has the 'Cart is empty!' _string_ so you can't merge a new product into it as an array — React (or javascript) doesn't like that too much.

Thus, I need to check if it is actually an empty array first, then

[2018-08-21 01:46] seb86 commented on #33
Yes.

[2018-08-26 21:56] yaroldlord opened #37 "Delete cart return ok but nothing is deleted"
## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [ ] The issue still exists against the latest `master` branch of Cart REST-API for WooCommerce on Github (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have included a failing te

[2018-08-26 22:05] seb86 commented on #37
@yaroldlord Are you able to remove it using Postman?

[2018-08-26 22:17] yaroldlord commented on #37
I don't know how to use postman.

I use a simple javascript call

[code]
I try also with a curl call. it is the same:

`curl "http://xxxxxx/wp-json/wc/v2/cart/cart-item" -X DELETE -H "User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:61.0) Gecko/20100101 Firefox/61.0" -H "Accept: */*" -H "Accept-Language: fr,fr-FR;q=0.8,en-US;q=0.5,en;q=0.3" --compressed -H "Referer: http://xxxxx/yyyy/priva

[2018-08-26 22:33] yaroldlord commented on #37
I just success to use postman. It is the same. I receive a http 200 with "Item has been removed from cart." but the product is still in the cart.

[2018-08-26 23:52] seb86 commented on #37
I just tried in Postman and it works fine. Can you try without authorization applied?

[2018-08-30 10:38] FawadNL commented on #11
Hi @hudsoncliff , thanks for that but that means we have to create a wc api key for every customer right?

[2018-09-02 14:53] seb86 commented on #37
@yaroldlord Have you tried without authorization using Postman yet?

[2018-09-02 20:26] yaroldlord commented on #37
I just try and I have a strange behavior: If I try just after refreshing the page in my browser, I get in postman "Item has been removed from cart". (but the article is not removed) !!! If I try again, I receive "Unable to remove item from cart".

I'm also trying to debug the code of  WC_REST_Cart_Controller::remove_item but I do not understand where the problem comes from: The code runs without e

[2018-09-02 20:34] yaroldlord commented on #37
I found someone with the same problem as me:
I do not feel lonely anymore ;)

https://stackoverflow.com/questions/52029721/woocommerce-remove-cart-item-not-removing-items-when-logged-in

[2018-09-02 20:48] yaroldlord commented on #37
I try with a new account (not logged as admin for the site) and the problem is still present!

[2018-09-02 20:53] yaroldlord commented on #37
Here an other with the same probleme: https://wordpress.org/support/topic/sometimes-remove_cart_item-does-not-removeing-item

[2018-09-02 20:59] yaroldlord commented on #37
And three! https://wordpress.org/support/topic/problem-with-removing-item-from-cart/

[2018-09-02 21:00] yaroldlord commented on #37
And four! https://wordpress.org/support/topic/remove-cart-item-not-working

[2018-09-08 14:56] seb86 commented on #37
So what needs to change?

[2018-09-08 15:18] yaroldlord commented on #37
It's possible to disable persistant cart.
If I add in cart_rest_api_init:
        add_filter( 'woocommerce_persistent_cart_enabled', '__return_false' );

The bug diseapear: The delete work fine.

Of course I lose the persistence of the cart at the end of a session.

It's just a bad workaround.

It seems to me that cart-rest-api has a structural flaw complicate to fix.

[2018-09-08 15:31] seb86 commented on #37
The issue you have is with WooCommerce, not the API. That filter is for the core of WooCommerce so something is wrong with your setup. I have already confirmed that the API works to remove items. I suggest that you also update your PHP version to fill the requirements WooCommerce needs.

[2018-09-08 17:08] yaroldlord commented on #37
I'm not agree with you.
The mistake is not in wordpress or woocommerce.
It's cart-rest-api that has an error.

The filter rest_cookie_check_errors is call when a route registered by register_rest_route is present.
If you call wp-json/wc/v2 you will get all the registered route.

rest_cookie_check_errors is a general and standard protection against CSRF.

To avoid blocking a _wpnonce parameter must

[2018-09-08 17:13] seb86 commented on #37
I am able to remove items without the need of using nonces. So this is puzzling.

[2018-09-08 17:17] yaroldlord commented on #37
Some plugin disable persistent cart. Perhaps...

I work with a fresh install of wordpress, woocommerce and cart-rest-api .and nothing else.

[2018-09-08 18:04] seb86 commented on #37
I will run more tests when I have more free time to spend on this project and make adjustments.

[2018-09-16 09:28] yaroldlord commented on #37
Fr your information, i managed to use the API with persistant cart enabled by doing these operations:
1) Add a Rest call to get nonce (get_nonce)
2) Call get_nonce from my backend by copying the header of the customer call (ie acting as a proxy)
2) Add the _wpnonce attribute in API calls
3) Add a call to woocommerce_persistent_cart_enabled within the API

For the 1 I used the trick shown here:
htt

[2018-09-16 10:43] seb86 commented on #37
@yaroldlord You never did confirm if you had the same issue as a guest (not logged in).

[2018-09-16 12:11] yaroldlord commented on #37
Sorry.
It works without error when I'm not connected. (with or without persistent cart)

[2018-09-26 06:21] njbotkin opened #38 "Handling WC Notices"
Thanks for the plugin!  I'm working on implementing coupon endpoints, and I've noticed that cart-rest-api-for-woocommerce ignores WooCommerce notices (as far as I can tell).

Here's roughly how notices work: anytime WC wants to show the user a message it adds it to an array stored in `WC()->session`.  Next time a page is rendered the queued notices are emptied onto the page.  But the Cart API does

[2018-10-03 11:51] botoxparty opened #39 "Cart for each user"
Hey,

So i've been wondering how to I use this plugin to work with carts from specific users? It's not clear in the documentation.

I would have assumed making a request such as..

`http://domain.com/wp-json/wc/v2/cart/ -u consumer_key:consumer_secret`

## Prerequisites

- [ X ] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [ X ] The issue still

[2018-10-03 11:59] seb86 commented on #39
The documentation is outdated and I will get round to updating it when I can afford to spend time on it.

The API works with or without authentication but works best when not authenticating as a user. The API shows what you have in the cart, either added directly from your site or via the API.

The API acts just like the cart on the site. No more, no less.

[2018-10-03 12:03] botoxparty commented on #39
So this command `http://domain.com/wp-json/wc/v2/cart/ -u consumer_key:consumer_secret` would pull the cart for the user that i'm sending through?

[2018-10-03 12:05] seb86 commented on #39
Correct

[2018-10-03 12:06] botoxparty commented on #39
Great, thanks seb. I'll try that out tomorrow.

Also happy to contribute to the docs, I'll let you know how it all goes.

[2018-10-03 22:55] JosephCarrington commented on #39
So in order to  have an individual subscriber of our site have their cart accessed via the API, we would need to automatically generate each user a consumer_key and consumer_secret? Or have them authorize our app like this? http://woocommerce.github.io/woocommerce-rest-api-docs/images/woocommerce-auth-endpoint-flow.png

[2018-10-07 17:37] Da99er opened #40 "Bug when overload add to cart"
If we have product with quantity 3 ( In stock (3) ) and i try add product with 5 quantity, i must see JSON with error but i see php error.

i use ajax

request:
[code]

response:
[code]

[2018-10-08 03:16] botoxparty commented on #39
@JosephCarrington yep exactly, i've written a function that generates the keys whenever a user registers in WordPress and stores them in their user info, and they are then passed in a JWT token to the client.

[2018-10-09 15:19] BlueCloud02 commented on #39
I have just installed the plugin. But without the documentation, I have some problems.
I've tested the API with Postman and all works fine. But when I use it inside my website (without authentification), it is not working. (I am not creating my own web app but I want to use the API inside the initial wordpress-woocommerce website).
Do I have to use authentification? @botoxparty  could you precise

[2018-10-09 15:42] seb86 commented on #39
@BlueCloud02 Documentation has moved. You can access it here: https://co-cart.github.io/co-cart-docs/

[2018-10-09 22:08] seb86 commented on #39
The WooCommerce cart does use cookies and sessions. It's just encrypted as a hash, I think. You will have to use the cart normally and then look for what the value of the cookie WooCommerce saves to confirm.

[2018-10-09 23:57] botoxparty commented on #39
@seb86 Hmm i understand that the cart uses cookies and sessions however getting the API to refer to these particular sessions or cookies isn't documented. I'd be happy to help write the docs to perform these actions if you're willing to chat about it over slack or something?

This project has helped me a lot with my work and am very happy to contribute to driving it forward.

[2018-10-10 08:32] DennisMatise opened #41 "Add to cart POST is missing cart item data check"
On line 102 of the `class-wc-rest-cart-controller` file the cart_item_data (also the variation on line 99) is blocking the request. 'is_array' won't be recognized as a valid function. To solve this we can create our own function.

[code]

This will allow me to add custom data to my cart. I'll create a PR after this issue.

## Prerequisites

- [x] I have searched for similar issues in both open and

[2018-10-10 09:12] seb86 commented on #41
PR Merged.

[2018-10-10 09:12] #41 closed

[2018-10-11 01:31] LeonAppDev opened #43 "API document link invalid"
Not a big issue, but think you should know the link to the document in your readme file does not work,  it looks not professional so if possible, please fix it.
![image](https://user-images.githubusercontent.com/10129395/46775098-2f5e5300-cd62-11e8-886d-4bf5a7edead7.png)

[2018-10-11 01:41] seb86 commented on #43
I am aware of it @LeonAppDev. The repository was recently renamed and changes will be coming soon.

[2018-10-11 01:41] #43 closed

[2018-10-11 07:07] DennisMatise commented on #40
I think I've found the problem. The plugin is using the `throw new WP_error`. This will return an error cause it won't handle the rest of the script properly. The add_to_cart function needs a return cause it needs to handle the rest of the api script. In the current master there is an updated version where it uses `return` instead of `throw`. Pull and I think it solves the issue.

[2018-10-11 07:27] DennisMatise commented on #40
@Da99er I've tried to reproduce this problem using postman but I can't get the same error. Can you specify how we can reproduce this problem?

[2018-10-11 08:58] seb86 commented on #40
@DennisMatise Thank you for pointing that out.

[2018-10-12 12:17] #13 closed

[2018-10-12 12:17] #15 closed

[2018-10-13 15:34] seb86 commented on #39
@botoxparty Sorry forgot to provide a link to the documentation. https://github.com/co-cart/co-cart-docs which I have just updated. More is to come but you are welcome to contribute to it now.

[2018-10-14 07:52] Da99er commented on #40
@seb86, @DennisMatise , thank you!

[2018-10-17 09:01] yaundanns commented on #33
how cocart handle the cart? is it session cart? i have got an empty cart after i have sucessfully added some product to the cart?

[2018-10-17 09:45] DennisMatise commented on #33
@joshuaiz The current response is always the same and is including an 200 status and also a message. You can create a function that checks on the response.status and a double check with a regex if the response.data is including an clear string. If this is true you can just use:

[code]
This is how I use it in my project

[2018-10-17 13:38] seb86 opened #46 "Determin which cart to get"
To further improve detection of the cart and its contents based on the user status without requiring to authenticate we need to do an object check.

This check will determine to which version of the cart we have access to. If the cart is not empty or set then we will get the cart contents from the cart class, otherwise, we will get the cart contents from the session.

Help with testing this change

[2018-10-17 13:50] seb86 commented on #46
An example of checking the cart contents: `$cart_contents = isset( WC()->cart ) ? WC()->cart->cart_contents : WC()->session->cart;`

[2018-10-18 02:12] yaundanns commented on #46
hello. you mean get the cart from session, but i didnt transmit the cookie to the server,  how they know which cart need to be return to client.

[2018-10-18 02:42] seb86 commented on #46
@yaundanns What cookie are you referring to?

[2018-10-18 02:54] seb86 commented on #34
@joshuaiz Is this issue resolved with the release of v1.0.5?

[2018-10-18 02:59] #37 closed

[2018-10-18 03:00] #12 closed

[2018-10-18 03:04] seb86 commented on #38
@njbotkin How would do you see the notices returned? Don't forget this API has to support different languages that could be used to build a custom app.

[2018-10-18 11:51] seb86 commented on #38
@njbotkin Thank you for sharing but I don't think that is the approach we are looking for.

[2018-10-20 14:36] seb86 commented on #33
@joshuaiz I have applied the change to the master branch. Before I release this to the public, could test the master branch and let me know if this works better for you. I went with returning nothing for easy development and compatibility as requested.

[2018-10-20 14:51] joshuaiz commented on #33
@seb86 cool Seb! Give me a few days to check it out. Thanks for updating this!

[2018-10-21 15:48] yaundanns commented on #46
hello, thanks for your response. the script is working fine. cheers!

At 2018-10-18 10:42:45, "Sébastien Dumont" <notifications@github.com> wrote:

@yaundanns What cookie are you referring to?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-10-21 15:48] yaundanns commented on #46
hello, thanks for your response. the script is working fine now. cheers!

[2018-10-22 14:04] #33 closed

[2018-11-07 13:08] mezzat11 opened #48 "Add Coupon coupon endpoint"
Hello
I noticed the closing issue of the coupons. Have you added it?
Thank you .

[2018-11-09 16:46] seb86 commented on #48
It will be added to CoCart Pro. 😃

[2018-11-09 16:46] #48 closed

[2018-11-09 16:48] seb86 commented on #34
I am going to assume this issue is resolved and close it.

[2018-11-09 16:48] #34 closed

[2018-11-09 16:50] seb86 opened #49 "Test with WooCommerce v3.5"
Need help to check compatibility with WooCommerce 3.5.

[2018-11-11 09:44] mezzat11 commented on #48
When will the other version be released?

[2018-11-11 10:11] seb86 commented on #48
Hopefully before XMAS. Currently improving one particular core feature before adding anything new. Will announce more on the site soon.

[2018-11-12 17:48] seb86 commented on #49
Works fine.

[2018-11-12 17:48] #49 closed

[2018-11-28 08:02] ruucm-working opened #50 "Cart items should not be shared by users"
## Expected/actual behaviour

Cart items should not be shared by users

but it is sharing all cart items

I've tested on VVV, and real server (below LINK, anyone can test it using 'ADD TO CART button')
[Link](https://cnyttan.com/product/urban-stripe/)

What can I do?

[2018-11-28 08:35] seb86 commented on #50
What do you mean by shared? What are you doing? Need more information.

[2018-11-28 08:45] ruucm-working commented on #50
@seb86

[2018-11-28 08:47] ruucm-working commented on #50
@seb86

When I add cart item using this API, it also shows up on the other my laptop & desktop

and it even doesn't care user logged in or not

[2018-11-28 08:51] seb86 commented on #50
That should not be happening because the cart is controlled by session. What language are you using the API in?

[2018-11-28 08:53] ruucm-working commented on #50
it's javascript(react)

[2018-11-29 09:09] ruucm-working commented on #50
Sure. This is code that I use with [wc-api-node](https://github.com/woocommerce/wc-api-node#readme)

[code]

After some search, I realize this **weird sharing** happens every time when client side code access to server rest parts.

It also happens even I tested with pure wordpress add cart button..

[2018-11-29 13:12] seb86 commented on #50
Looks like it. So you have managed to build using WooCommerce's official NODE wrapper. That's cool. I thought they all require authentication which CoCart does not.

[2018-12-07 02:35] #50 closed

[2018-12-19 09:57] benhuson commented on #46
Hi, I am testing this API to see if I can get it working for my use case - 1 WordPress site loading products via REST from another WordPress site running WooCommerce and your plugin, and adding the to a cart using your Co Cart API. I have this setup locally as two separate sites.

If I open the site in two separate browsers, both seem to load the same cart and add the same cart although they shoul

[2019-01-10 22:58] botoxparty opened #51 "Feature: Check stock of cart items"
Hey,

In my implementation I have added an endpoint to check the stock of all the cart items to make sure they are still in stock before proceeding to the checkout.

Feel free to implement, this is a very basic version. Could write something that returned a bit more than just an error with a string in it.

[code]

[code]

[2019-01-11 04:54] seb86 commented on #51
Hi @botoxparty

That would be a cool feature to add. What would you want returned besides the error message that is returned?

[2019-01-11 04:59] botoxparty commented on #51
I would return an array of which items are out of stock. Maybe this is already whats happening but i've only been testing with 1 out of stock product.

Actually I have moved the stock checking to the cart item object like this:

`$cart[$item_key]['in_stock'] = $_product->is_in_stock();`
`$cart[$item_key]['on_backorder'] = $_product->is_on_backorder();`

This allows me to save the extra API call to

[2019-01-11 05:05] seb86 commented on #51
I think it already does.

[code]

This could be a great first push if you are interested in submitting a pull request. Don't forget to create a new issue explaining what it does and how it can be of use when calling the cart.

You may need to add a condition should that product or the store not manage stock to prevent issues with the API returned.

[2019-01-11 05:16] botoxparty commented on #51
Okay cool,

I'll put something together this weekend, there's a few other modifications i've made such as supporting product variations in the returned cart. The way its currently working is that it returns the parent product rather than the actual variation.

I also return the `count` with the get_cart method, saves another API call.

[2019-01-15 02:03] joshuaiz commented on #48
+1 for this. Just tried to work with a coupon and I can add and list one but no way to apply it to the cart. Thanks Seb!!!

[2019-01-15 13:21] #51 closed

[2019-01-17 03:48] joshuaiz commented on #46
Hi Seb, just bought you a coffee - thanks for the work on this!

I'm running into this issue now. Can you explain your answer a bit more (e.g. 'use anonymous'?).

We need a way to match the specific cart with the session so that the proper cart is returned. How can I do this with a JavaScript/React front end?

As it is now, I'm getting cart 'ghosting' where I'll have items in the cart from other u

[2019-01-17 05:44] joshuaiz commented on #46
This is the same issue as #50 and is not the WP API. There needs to be a unique identifier for each cart that is tied to a user session yet this needs to work even if there isn't a server/PHP Session.

Thus, the unique identifier/key for each cart probably should be generated by CoCart and sent along with the product data. This can then be stored in local/session storage or cookie and then sent wi

[2019-01-17 10:12] seb86 commented on #46
Meaning no authentication. Add items to the cart as a guest.

I am still learning React myself at the moment so I can't really answer that at this time.

Because of the way WooCommerce is designed, support for the cart is lacking the way the API needs it to function which is what I am working on supporting.

I have yet to come across this issue myself locally but I am working on finding a solution

[2019-01-17 19:08] joshuaiz commented on #46
Thanks @seb86!

Another idea is if there is no authentication, then WC/WP could create a guest user just for the purposes of the cart so something like `guest1`, `guest2`, etc., and then use that to identify the cart. The users could be destroyed once the purchase is complete. Don't know if that would be easier that creating a key.

We would still have the order data with name/email or whatever da

[2019-01-17 22:10] seb86 commented on #46
WooCommerce cart works fine in core because it uses sessions and PHP. However, via an API it needs more support because it is not just data that is being posted or retrieved via the WC API. That is why WC does not support the cart via API.

This is why the first version of CoCart is really just a proof of concept. Hopefully, when I am done with CoCart version 2 I will have added the support the AP

[2019-01-18 00:43] joshuaiz commented on #46
Cool that makes sense.

In the meantime I'll try to work on a workaround using sessionStorage. I think if we can save the users cart there until it's time to purchase and then send that just before the order that could work. A bit hacky but it could work.

[2019-01-28 14:21] seb86 opened #53 "Add leave a review link to the plugins page"

[2019-02-02 20:03] joshuaiz commented on #46
Just following up on this. Any progress on your end @seb86?

Did a bit of research over the last few days using [JWT (JSON Web Tokens)](https://wordpress.org/plugins/jwt-authentication-for-wp-rest-api/) for authorization as well as looking into everything regarding web sessions + javascript.

What I've found in Postman is that if you make a request to the WooCommerce API using an auth token or usi

[2019-02-02 21:58] joshuaiz commented on #46
Cool thanks @seb86.

[2019-02-06 12:59] ManukMinasyan opened #54 "Please add Coupon's idea in Plugin"
Hello Dear Developers, please add Coupon's idea in Plugin. You've helped me a lot. Or if you can show me how I can do it myself.
Thank you!

[2019-02-06 13:19] seb86 commented on #54
Already in the works for CoCart Pro.

[2019-02-06 13:19] #54 closed

[2019-02-06 13:30] ManukMinasyan commented on #54
When you will finish its development?

[2019-02-18 19:26] seb86 commented on #53
Done in dade0fd3779df8e67e0384796f34139b9ee2e2cc

[2019-02-18 19:26] #53 closed

[2019-04-18 07:17] gelaxe opened #55 "Bug: Not compatible with WooCommerce 3.6"
Explanation of problem found  here: https://barn2.co.uk/managing-cart-rest-api-woocommerce-3-6/ This helps me.

[2019-04-18 09:49] seb86 commented on #55
CoCart was mention in [this pull](https://github.com/woocommerce/woocommerce/pull/21090) but I was not so I did not get notified of this break.

[2019-04-18 16:15] seb86 commented on #55
Fix requires testing. [Here is the first RC](https://github.com/co-cart/co-cart/releases/tag/v1.1.0-rc.1) for CoCart

[2019-04-18 16:38] gelaxe commented on #55
Now working.

[2019-04-18 16:44] seb86 commented on #55
@gelaxe Thank you for reporting this issue.

[2019-04-18 17:34] princeandrew01 commented on #55
I can confirm the release candidate is working for me and I am using it for a mobile app I am working on currently.

[2019-04-18 22:23] andykeith commented on #55
Hi Sebastian, glad my post was helpful (barn2.co.uk). I was going to give you a heads up as I saw you might be affected by this, but we’ve been busy getting our plugins tested with 3.6!! Let me know if you spot any problems with the workaround

[2019-04-18 23:13] seb86 commented on #55
@andykeith Thank you.

[2019-04-23 15:47] #55 closed

[2019-04-23 15:48] #38 closed

[2019-04-25 10:51] timfalcucci opened #56 "Not compatible with WooCommerce 3.6.2"
Hi,
your fix for WC 3.6.1 don't work on the last update of WC 3.6.2...
I get a error 500 response, same bug you fixed recently.

Anyway thanks for your work and your plugin.
I'll look carefully to the WC update now ! :D

And do you know why WC chose to not implement "add to cart" endpoint in their API ?

[2019-04-25 11:52] timfalcucci commented on #56
Sorry for the issue, finally your fix work perfectly...
you can delete this issue, the bug was me !! :D

[2019-04-25 13:27] #56 closed

[2019-05-21 05:02] hudsoncliff opened #59 "Notice: Use of undefined constant WC_VERSION - assumed 'WC_VERSION' was showed in my screen"
Hi, I was using your plugin in my local environment and this notification came up in debugging mode.

the erro comes from this line.
/includes/class-wc-cart-rest-api-init.php on line 65

[2019-05-21 05:54] merijnponzo commented on #59
Having the same problem since the latest update 1.2.0 of co-cart and woocommerce 3.6.3
now when I add a cart item i got a message 'problem with the security, please login again'
thanks. great plugin

[2019-05-21 07:49] merijnponzo commented on #59
Where can I download the previous version? My webshop has to go live tomorrow :-(

[2019-05-21 08:03] hudsoncliff commented on #59
@merijnponzo

I think you can get a previous version by using a rollback plugin if you don't have you old version files backed up.

[2019-05-21 10:37] seb86 commented on #59
Thank you for reporting the issue @hudsoncliff  Taking a look at it now. Can you tell me if this is only if you have debug mode enabled?

[2019-05-21 10:54] seb86 commented on #59
Done. Releasing now!

[2019-05-21 10:54] #59 closed

[2019-05-21 11:43] merijnponzo commented on #59
awesome, it works, thank you

[2019-05-21 12:28] hudsoncliff commented on #59
Thanks!
its working good!

[2019-05-31 19:39] seb86 commented on #16
After thinking on this feature more, it would not be any good for other product types besides simple products to have this method. I don't see it as a high priority or any requests from users.

Closing this issue.

[2019-05-31 19:39] #16 closed

[2019-05-31 19:39] #46 closed

[2019-06-05 14:54] seb86 opened #60 "Question: Do the cart totals not change after calculating totals?"
It has been brought to my attention that calculating totals is not working via the API should you be using `woocommerce_before_calculate_totals` and `woocommerce_after_calculate_totals` action hooks.

If you are also experiencing the same issue, please comment below so I can sort this out or if you have any suggestions.

Really appreciate it.

Thank you.

[2019-06-12 02:42] seb86 commented on #60
No issue so closing.

[2019-06-12 02:42] #60 closed

[2019-07-23 19:48] lucabarbosa opened #71 "CoCart doesnt update item on cart when I reload cart"
Hello folks,

I've been used CoCart in my SPA Woocommerce and it has been amazing!
However, I found a bug in the update_item endpoint.

When I update a product quantity, it works and returns the new cart with the correct quantity. However, when I call get-cart endpoint after update_item, the cart is the same as before updating the product quantity.

It seems that cart data wasn't persisted.

## Pr

[2019-07-23 19:59] lucabarbosa commented on #71
UPDATE:

I did some tests and notice it:

When I use 'refresh_totals' argument in Update Item Endpoint, the cart content is updated correctly. When I don't use this argument, the cart content isn't updated correctly.

[2019-07-24 19:07] #71 closed

[2019-08-06 08:00] seb86 opened #73 "Feedback: Support for cart storing in session"
Some of you have had issues with CoCart when developing with **Android** so my attempt to provide support in that area is in need of your feedback. Below is a changelog on what I have developed for the next release which I hope will provide the missing link and support for future features to come.

I have explained how it works and how to use this newly added support in [this blog post](https://co

[2019-08-06 20:32] seb86 commented on #73
New post about the new beta release. https://cocart.xyz/cocart-v2-1-0-beta-2/

[2019-08-14 07:54] stonebranch opened #75 "Update /item doesn't work"
## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on Github (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have included a failing test as a pull request (O

[2019-08-14 18:43] seb86 commented on #75
@stonebranch You need to set `refresh_totals` to `true`. That or you calculate the totals before getting the cart.

[2019-08-14 18:43] #75 closed

[2019-08-27 16:01] seb86 commented on #73
So far no feedback which could be good news but would like a confirmation from someone if the changes in this release are on the right track. I know people are on holiday so I will leave this issue open a bit longer.

[2019-09-02 13:01] johan-vntrs opened #76 "Quantity should be passed through cocart_ok_to_add_(response)-filter"
Hello!

For my use case, I'd like the requested quantity to be passed through the `cocart_ok_to_add` and `cocart_ok_to_add_filters`, since we have a special way of determining in-stock status.

If needed, I can of course contribute with this addition.

Thanks!

[2019-09-02 14:40] seb86 commented on #76
@johan-vntrs Please do.

[2019-09-03 04:18] seb86 opened #77 "New Endpoint: Get Products"
Working on a read-only version of the products endpoint. If there is anything specific that you think is missing from the WooCommerce products endpoint that could be useful in CoCart's product endpoint. Leave a comment below.

[2019-09-08 14:26] seb86 commented on #73
Anyone got any feedback, any questions?

[2019-09-08 14:30] seb86 commented on #76
@johan-vntrs Do you have a PR?

[2019-09-16 17:58] RichardLindhout commented on #77
Is there also coming a category endpoint?

[2019-09-16 18:01] seb86 commented on #77
@RichardLindhout Yes. I will be forking all products endpoint to be converted to a read-only version.

[2019-09-16 18:03] RichardLindhout commented on #77
Nice, maybe keep in mind all the different variations a single product can have, I think there is no functionality available right know. Maybe a parameter to the url with selected variations and pushing back available options in the response.

[2019-09-16 18:04] seb86 commented on #77
Oh that would be great to add if it's missing. Send me some ideas.

[2019-09-16 18:21] seb86 commented on #77
I just skimmed through the REST API documentation for WC and saw nothing to filter the variation results and yet it's something that should be easy for them to include. Maybe it's coming in version 4.

[2019-09-16 18:23] RichardLindhout commented on #77
Yep they do, although I don't think it's a bad idea to filter the variations in the front-end but it could be too much data on some products.

[2019-09-16 18:33] seb86 commented on #77
So a customer visits the product variation and selects the main attribute which is the colour. That then filters the variations by that attribute. As the customer selects more attributes (Gender, Size) it filters down some more. Is that what is required? I know on Amazon a variable product can show all variations but disables the other variations if it's not available for the main attribute. So fo

[2019-09-16 18:40] RichardLindhout commented on #77
Yes, I thinks that's the right approach.

Maybe look at this plugin, I think it already has some variations functions available: https://wordpress.org/plugins/woo-graphql-api/

[2019-09-16 18:41] RichardLindhout commented on #77
https://plugins.trac.wordpress.org/browser/woo-graphql-api/trunk/includes/Helpers/Product.php#L67

[2019-09-16 18:42] seb86 commented on #77
Thank you for sharing that.

[2019-09-16 18:44] RichardLindhout commented on #77
Is this plugin usable as mobile backend, it seems to me that the way the user is authenticated it can do everything in the woocommerce api. I want the user to only sync his own cart and nothing else.

[2019-09-16 18:46] seb86 commented on #77
If the user is logged in then yes it will sync to only their cart. Last update enabled the ability to use WooCommerce Authentication method again as it was restricted in WC latest releases.

[2019-09-16 18:47] seb86 commented on #77
I have [another issue](https://github.com/co-cart/co-cart/issues/73) that I am working on for guest customers. Currently in beta.

[2019-09-16 18:50] RichardLindhout commented on #77
Thanks, will probably gonna test in the future if the project I'm estimating continues!

[2019-09-22 17:21] seb86 opened #80 "Enhancement: Check if REST API is not disabled or blocked"
On the getting started page I think it would be cool to add a little automated check to see if the REST API is not disabled or blocked.

If the REST API is working then it returns a green status. If it's not working then it returns a red status.

[2019-09-23 07:13] yagnikv commented on #73
when i call add to cart api with user login it was display website in  user cart empty and add product to admin cart in,so how can i solve it

[2019-09-23 11:31] seb86 commented on #73
@yagnikv Is this related to this?

[2019-09-23 11:48] yagnikv commented on #73
@seb86 yes , but now i have solved it

[2019-09-23 11:51] seb86 commented on #73
Great. So what was the problem?

[2019-09-26 11:06] yagnikv commented on #73
@seb86  is it possible? get cart responce is generate in array

[2019-09-26 13:53] seb86 commented on #73
Please refrain yourself for using issues for support. This is not related to the issue. Either create a ticket on the WordPress support forum or join the community on Slack. Thank you.

[2019-09-29 22:30] seb86 commented on #73
# v2.1.0-beta.4

## Changelog for this release

* Added: Counter for carts in session in WC system status.
* Corrected: Incorrect bool value used for initial item added to cart.
* Corrected: Value typo with cart key when storing cart to the database.
* Corrected: Version returned in WC system status for CoCart.
* Removed: Tax status and tax class for products data returned.
* Tweak: Fixed `create_

[2019-10-04 16:43] seb86 commented on #76
@johan-vntrs Added in commit f370542972d6475719acf083f8c69549d51e378c

[2019-10-04 16:43] #76 closed

[2019-10-08 09:47] ershagen commented on #28
Hi @tmishutin, could you please share the solution? I'm having the same problem. I have looked into JWT but not sure how to use it.

[2019-10-31 10:52] Zacad commented on #73
Hello, i have strange behavior (both in 2.06 and 2.1).
When user (both guest and logged in user) just enter the site with no session the cart is empty. When user add some item to cart he is seeing his item, but also items added by other users, as if there is only one cart for each user instead of separate ones.

[2019-10-31 11:21] seb86 commented on #73
The issue is only in versions lower than 2.1 If you read the blog post you would have seen how to get the cart for a specific customer.

I'm actually close to a new beta release which I hope will improve this issue further.

Look out for details posted via the blog soon. Thank you.

[2019-11-12 18:47] seb86 opened #84 "Help Wanted: Need Unit Tests Made"
Hello 🙂.

I am in need of unit tests created to help test changes made with CoCart.

If you have done unit tests before and like or use CoCart and would like to help create them, then leave a comment below with your name and your development approach.

Happy to answer any questions.

Thank you.

[2019-11-13 16:25] heshaShawky opened #85 "How can I add a Yith composite product?"
I'm using the cocart for developing a mobile app and it's great, but when I send a request for adding product that it's a type of  'yith-composite' not adding the item components probably. or there's no on docs a way to add such a thing.

I tried to do it from the wordpress site and it's working and when retrieved the response with post man to see what the response will look like I got the folloin

[2019-11-13 16:28] seb86 commented on #85
Hi @heshaShawky

Can you provide me the exact steps you are taking to add the product please?

[2019-11-14 12:23] heshaShawky commented on #85
My client has a woocommerce site that uses custom product type called `yith-composite` that do the following:

1. a parent product
2. a components product ( type: variable )

so it's actually more than one product: you can check that from the following link:
https://kefan-optics.com/shop/1-day-freshlook-mystic-blue/

On the above link, you will find left-eye and right-eye, those are actually separ

[2019-11-14 12:47] seb86 commented on #85
@heshaShawky Yeah it's a bit difficult with all those encrypted keys. Have you asked Yith what the encrypted keys are?

[2019-11-14 12:56] heshaShawky commented on #85
It's available as metadata on the parent product I can get it through woocommerce api.

[2019-11-14 13:07] seb86 commented on #85
So you have the information then, correct?

[2019-11-14 13:09] heshaShawky commented on #85
Yes just the `cart_item_key` is missing with me it's the cart item id how do I get that

[2019-11-14 13:16] seb86 commented on #85
Just using the API as it I don't think you can get the `cart_item_key` to pass as a variable. It's the same as the container so you may not need it. But if you do, you will have to filter the cart contents using `cocart_cart_contents`. You can do this by identifying the product type and checking the data as conditions to apply what you need.

Checkout the [tweaks repository](https://github.com/co-

[2019-11-14 14:15] heshaShawky commented on #85
Ok, When I send more than one request I get cors error ( parent product and they children )

I get success for the parent and error with the children a cors error

[2019-11-14 14:47] seb86 commented on #85
Can you share any further details on the error and show me what you have done?

[2019-11-14 15:57] heshaShawky commented on #85
I figure out an easier solution but I don't know how to do it yet!

I need to do a custom endpoint that adds the product to the cart using this form headers

I got those headers from clciking the add to cart button in the product page at the site.
[code]

for further details check my question here to:
https://stackoverflow.com/questions/58860768/woocommerce-how-to-add-custom-type-product-to-cart-w

[2019-11-14 16:47] heshaShawky commented on #85
I'm sending the following to endpoint `add-item` but it's just returning the parent product not including the children:

[code]

[2019-11-16 19:29] heshaShawky opened #86 "Adding type of products composite to your api"
**Is your enhancement request related to a problem? Please describe.**
Your API just support the defaults products type such as `simple` or `variable` products

I'm working on a custom type product ( `yith-composite` ) and seems your plugin not support it.

**Describe the solution you'd like**
Modifying the add-item endpoint so become compatible with the yith-composite products if possible

I cont

[2019-11-17 04:49] seb86 commented on #86
Hi @heshaShawky

I am working on supporting other WooCommerce extensions. As you are the first to request YITH Composite Products I will add it to the public roadmap.

Thank you for your request.

https://trello.com/c/IoJ48CZY/51-yith-composite-products

[2019-11-17 04:49] #86 closed

[2019-11-17 04:52] seb86 commented on #85
Closed based on the [request to support YITH Composite Products](https://github.com/co-cart/co-cart/issues/86)

[2019-11-17 04:52] #85 closed

[2019-11-21 09:56] mfcanovas opened #87 "Variable products need more validation before being added to cart."
#  Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on Github (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have included a failing test as a pull request (O

[2019-11-21 10:00] seb86 commented on #87
So more validation is required via the REST API as the core of WooCommerce does the validation via the JS not behind the scenes. Thank you for posting the issue @mfcanovas

Your welcome to push a fix for this and get credit for this if you like. I'm currently improving other areas at this time.

[2019-11-23 13:26] heshaShawky commented on #86
Is there a way to hook the `add-item` endpoint to customize it?.

I got this response from **yith team** and need to know how to hook a function into your `add-item` end-point

Thanks.

[2019-11-23 18:52] seb86 commented on #86
The only thing that I have supported with the current release is to pass the custom item data via the optional parameter. In the upcoming version I have made further improvements to include more options for developers to filter and hook in data so I recommend that you keep an eye for the next release were I can assist you further should it be needed.

[2019-11-24 14:58] heshaShawky opened #88 "Cart Item Not Getting updated, sends a success msg but It didn't updated on database"
## Prerequisites

- [ x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [ x] The issue still exists against the latest `master` branch of CoCart on Github (this is **not** the same version as on WordPress.org!)
- [ ] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have included a failing test as a pull request

[2019-11-24 15:16] seb86 commented on #88
Thats not a bug with CoCart. Its just the way it is in the core if WooCommerce because normally on the front end of the site they have JS that is triggered to update the totals. Its odd I know but I have switched the variable to true by default in the coming release for a better  experience. For now you will have to set the refresh_totals parameter to true yourself.

[2019-11-24 15:16] #88 closed

[2019-11-29 17:17] heshaShawky commented on #86
Hi there again,

Is there a way to get the cart items from your plugin with PHP.

something like `WC()->cart->get_cart()` this not working for me it gets old items after I adding a product need to send 2 times to get the latest data

thanks.

[2019-12-13 21:13] crispossa opened #89 "Return cart totals in get-cart endpoint"
**Problem:**
Would be really more faster and performatic if the cart totals could be returned on get-cart endpoint, that way we don't need to call /totals endpoint on every cart mount on front-end, saving number of requests and lines of code.

**Possible solution:**
Maybe add a parameter to /get-cart EP to return totals.

[2019-12-13 21:16] crispossa opened #90 "Bulk add products"
Sometimes we already have a pre-populated cart (like programatically builded cart, for example) and to integrate with co-cart we need to add product by product, making dozen of requests and taking a lot of time for the cart to be ready.

Would be great if we have a simple endpoint where we can pass an array of itens to be added to cart.

[2019-12-13 22:00] crispossa opened #91 "Bulk remove products"
Related to the other issue, would be nice to be able to bulk remove products. That way we don't need to call the remove item endpoint for each desired item to be removed on cart.

[2019-12-13 22:02] crispossa opened #92 "Return cart contents and cart totals when coupon is applied"
When we apply a new coupon we need to call /get-cart and /totals endpoints to get the cart itself with the coupon applied, which means more 2 requests to the API.
Would be great if the endpoint for apply coupon return this info.

[2019-12-13 22:29] seb86 commented on #92
The coupon option is only available in CoCart Pro not CoCart Lite. If you are a CoCart Pro customer please contact me (seb) directly via the COcart Slack channel for support or submit feedback via the feedback channel. Thank you.

[2019-12-13 22:29] #92 closed

[2019-12-13 22:34] seb86 commented on #89
The cart contents that returns via the get cart endpoint can be filtered so the totals could accidentally be removed either by you or a third part plugin. Will have to run some tests. It’s a good idea but might not be 100% full proof.

[2019-12-13 22:36] seb86 commented on #91
Connected issue #90

[2019-12-13 22:38] seb86 commented on #90
It’s on the Roadmap for CoCart Pro. Not any easy thing to do as there many product types that have many conditions. Passing the data via the endpoint is one thing, the processing in the background is another.

[2019-12-25 15:41] erback opened #93 "More product data on get cart request"
**Describe the solution you'd like**
Thanks for a great plugin. Just started testing it out and it works like a charm. However, I would really like to be able to get more product related data in the "get cart" response.  For example I would like to be able to access the product category to render different cart item layouts on the frontend based on product category in cart. Right now I have to go

[2019-12-25 17:04] seb86 commented on #93
Merry Christmas @erback

You can use the available filters should you require to return additional data for the items in the cart.

I recommend checking the [tweaks plugin](https://github.com/co-cart/co-cart-tweaks) for examples.

Hope that helps.

[2019-12-25 20:31] erback commented on #93
@seb86 thanks a lot and merry christmas!

[2019-12-26 12:57] #93 closed

[2019-12-27 20:33] seb86 opened #94 "Add validation for product types before items are added to cart"
There is no validation to check if the product type is allowed to be added to the cart. For example, external products should not be allowed to be added to the cart as they are not local products that the store can sell. This would cause a problem for shop owners when orders are made.

[2019-12-30 21:19] seb86 opened #95 "Update upgrade to CoCart Pro link on plugin row"
Only one person has clicked the upgrade link so I will be updating it to the regular pricing page.

[2020-01-04 09:07] erback commented on #77
Is this feature available in the beta version? Cannot see that the public product endpoint exists in the documentation.

[2020-01-04 09:33] seb86 commented on #77
Yes the products endpoint is available in the beta. [View the Work in Progress](https://docs.cocart.xyz/wip.html#products) section of the documentation.

[2020-01-04 09:44] erback commented on #77
Thanks, should have looked closer!

[2020-01-04 14:25] seb86 commented on #77
@erback No problem.

[2020-01-09 16:38] crispossa commented on #90
Agree with the complexity size of this story. If you need more info or use cases, count on me.

[2020-01-09 16:52] crispossa opened #96 "Cart items with wrong discount after a coupon for only one product is applied"
## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on Github (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have included a failing test as a pull request (O

[2020-01-14 06:01] shendriksza commented on #73
I read the blog post but I'm still having a hard time understanding what you mean by storing cart in session. Is that not how CoCart already works?

[2020-01-15 14:53] seb86 commented on #73
@shendriksza It depends on the language you are using the API. Android for example does not handle sessions. This is what this version is designed to help improve on.

[2020-01-16 03:16] danphilibin commented on #73
I'm having the same issue with guest carts with version 2.1. If I add a product to a brand new cart for Guest User 1, it returns a cart with a fresh `cocart_cart_key` but the new cart also contains the items from Guest User 2's cart, which has a different ID. And then Guest User 2's cart is updated with the item that Guest User 1 added. The keys are different but the contents are identical. The sa

[2020-01-16 05:21] shendriksza commented on #73
@seb86 Thanks that makes sense. But will this be breaking change of sessions used on the WordPress side, or is the idea to expose sessions data on the API so apps can store it themselves?

[2020-01-16 15:49] seb86 commented on #94
Need to check and support product subscriptions with a free trial causing the initial price to be zero which prevents the product from being adding to the cart. If a free trial is enabled it needs to pass the product is purchasable check.

[2020-01-16 15:54] seb86 commented on #96
@crispossa Have you tried testing the coupon on the front end of your site and not via Postman? Do you get the same results?

Also, you did not tick only happens with WooCommerce and CoCart active. Would you mind sharing your system status report please?

[2020-01-16 17:04] seb86 commented on #94
Related issue #87

[2020-01-17 16:17] crispossa commented on #96
I tried on the front-end of my site first, that's how I realized this bug.

Have a try:

Access: www.labiexames.com.br
Add the two products to cart:
'Hemograma Completo' and 'Colesterol Total'
Apply the coupon 'testecris' to the cart. (this coupon has $5 of fixed discount and is valid only for Hemograma Completo)
See the values of both products being decreased by $2.5 each.

The expected behavior

[2020-01-17 17:00] seb86 commented on #96
OK I have found you and see that you have not accepted the invite to the Slack channel where I provide support for my pro customers. I have responded there. You should get an email from Slack shortly.

[2020-01-18 21:25] seb86 opened #98 "ISBAT: Filter the length of time before the feedback notice shows again."
Apply a filter for the expiration time of the feedback notice. [#](https://github.com/co-cart/co-cart/blob/master/includes/admin/class-cocart-admin-notices.php#L127)

[2020-01-18 21:26] seb86 opened #99 "ISBAT: Filter the length of time before the upgrade notice shows again."
Apply a filter for the expiration time of the upgrade notice. [#](https://github.com/co-cart/co-cart/blob/master/includes/admin/class-cocart-admin-notices.php#L121)

[2020-01-18 21:29] seb86 commented on #95
Redirected page already for the time being.

[2020-01-22 17:33] seb86 opened #100 "Warn user if WooCommerce is not active or installed on Getting Started page"

[2020-01-22 18:23] seb86 commented on #80
The redirection plugin does a great example of this.

![Redirection Plugin checking REST API](https://user-images.githubusercontent.com/497406/72921950-7d774a00-3d4c-11ea-8b8b-ad173e3fc21d.png)

[2020-01-28 13:16] seb86 opened #101 "ISNB: Redirected to getting started page with multiple plugin activations."
Need to detect if the user is activating multiple plugins at once and prevent redirecting to the getting started page so the remaining plugins can activate too.

[2020-01-28 13:19] seb86 opened #102 "ISNB: Redirected to getting started page if plugin has already installed before"
If CoCart was disabled temporarily for debugging or manually updating the plugin. The user should not be redirected to the getting started page again.

[2020-01-29 15:26] seb86 opened #103 "Include feedback modal for plugin deactivation"
Source: https://github.com/seb86/wp-admin-feedback-modal

[2020-01-29 15:31] seb86 commented on #101
Try using this action hook instead.

[code]

[code]

[2020-02-04 11:40] seb86 opened #104 "ISNBAT: See other customers carts when authenticating as another customer."
When developers are testing, the cart data is merging with other customers cart data when authenticating switching from one customer to another.

This is due to WooCommerce thinking that it is merging cart data from someone who was **not** logged in with a customer who already has cart data so when a customer is authenticated, WooCommerce believes that it is logging the customer for the very first

[2020-02-04 11:57] seb86 commented on #104
Must not clear the cart only the session. If the cart is cleared then the previous customer would lose their items.

[2020-02-04 15:16] seb86 commented on #104
While I haven't yet confirmed this myself I am getting reports of this issue so I am changing the status of this issue.

[2020-02-05 02:27] #95 closed

[2020-02-05 02:49] #99 closed

[2020-02-05 03:58] #101 closed

[2020-02-05 03:58] #102 closed

[2020-02-19 18:12] seb86 commented on #77
Will now be an individual add-on.

[2020-02-19 18:12] #77 closed

[2020-02-19 18:13] #98 closed

[2020-03-01 22:16] donmb1 opened #105 "Feedback: Retrieve Cart Contents / Add Item To Cart Endpoints"
Great work with this project! I really enjoy using it.
However, I have some basic feedback or maybe I was not able to properly find the related answer in your docs:

https://docs.cocart.xyz/#retrieve-cart-contents

From the docs it is not clear how to retrieve the User ID of the "logged in customer" or the "guest customer".

Also: https://docs.cocart.xyz/#add-item-to-cart
It seems not intuitive ho

[2020-03-04 11:00] #105 closed

[2020-03-10 02:49] seb86 commented on #96
Closing as I have not had a response or able to replicate the issue. If someone else reports this and can share more details as to what triggers it then I will look into the issue again.

[2020-03-10 02:49] #96 closed

[2020-03-10 02:52] seb86 commented on #104
Need help testing this issue again with the recent release fix v2.0.7

[2020-03-16 16:40] #91 closed

[2020-03-16 16:47] seb86 commented on #89
@crispossa Cart totals returned with the [Get Cart Enhanced](https://cocart.xyz/add-ons/get-cart-enhanced/) add-on.

[2020-03-16 16:47] #89 closed

[2020-03-22 19:35] seb86 commented on #104
After some research, a logout feature in the core of the WordPress REST API does not exist. As a user is using the REST API by authenticating, that user is set and WooCommerce hooks in the change to use data in session for that logged in user and merges with what's in the cart already in session if any exist.

This same process is repeated if you were to authenticate as another user before logging

[2020-03-22 19:35] #104 closed

[2020-03-22 20:09] seb86 opened #107 "ISBAT: Switch between users when authenticating and keeping sessions for each user identifiable."
Need help identifying and correctly setting the user when authenticating using the REST API. This will allow for developers to switch between users/customers for testing purposes and keeping the sessions as individual sessions, not merged with others.

What we are trying to achieve with this issue is similar to the [User Switching](https://wordpress.org/plugins/user-switching/) plugin by [@johnbil

[2020-03-25 18:50] seb86 commented on #103
Decided to put this issue on hold for now.

[2020-03-25 18:50] #103 closed

[2020-03-25 19:10] seb86 commented on #100
Done in commit 9564d6a9b84a0a32f6c5fb671cb11a80d740669b

[2020-03-25 19:10] #100 closed

[2020-04-07 15:51] seb86 commented on #94
Done

[2020-04-07 15:51] #94 closed

[2020-04-08 10:50] deniskabana commented on #105
@seb86 why was this closed? There is no closure here.

This is a very great point and is lacking in documentation.

[2020-04-08 11:37] seb86 commented on #105
@deniskabana This is closed because another issue related is already open and is still in the works. The documentation supports what is currently available, nothing more.

[2020-04-08 22:27] TimNZ opened #109 "Providing Node.js example"
I hope this gist is useful for people using CoCart from Node.js.

https://gist.github.com/TimNZ/93c94888eef7e2bee67860238929d60d

* Uses axios-cookiejar-support package to support auto capture and sending of Cookies in requests
* Confirmed that as guest users, each session is separate, allowing this to scale - just don't provide any authentication.

Maybe you want to add more complete examples to

[2020-04-08 23:00] seb86 commented on #109
Hi @TimNZ

Thanks for sharing the snippet. Would it be possible for you to apply Node.js to the [documentation directly](https://github.com/co-cart/co-cart-docs)?

I have a note explaining the authentication purposes.

`Authentication is only required for registered customers, not guest customers ...`

[2020-04-08 23:10] TimNZ commented on #109
I feel explicitly saying at the top of Authentication section that you only need to Authenticate for explicit user session cart management, would have saved me time experimenting - I started off thinking you HAD to authenticate.

That note re Guest access doesn't stick out.

Then I was started getting concerned about how to handle scale i.e. simultaneous usage for different cart calculations, whic

[2020-04-08 23:12] seb86 commented on #109
OK I will move the notice up in my next documentation update.

[2020-04-09 17:06] seb86 commented on #109
Created [new issue for this](https://github.com/co-cart/co-cart-docs/issues/23).

[2020-04-09 17:06] #109 closed

[2020-04-14 12:29] metemaddar commented on #51
Hello, Thanks again for great plugin.
I think this is also needed in update or post too.

When we check the "Manage Stock Amount" on product. and we run out of product while adding, The API faces error 500.
Unfortunately I couldn't detect the cause. <a href="https://stackoverflow.com/questions/7149030/php-return-500-error-but-no-error-log">Maybe because of the way using some functions so that php

[2020-04-14 12:31] metemaddar opened #113 "managed_products & out of stock: Error 500"
Hello, Thanks again for great plugin.
When we check the "Manage Stock Amount" on product. and we run out of product while adding, The API faces error 500.
Unfortunately I couldn't detect the cause from error_log. <a href="https://stackoverflow.com/questions/7149030/php-return-500-error-but-no-error-log">Maybe because of the way using some functions so that php did not log the error</a>.

**So how

[2020-04-14 13:05] seb86 commented on #113
@metemaddar So your saying the error message did not return. Just told that it was an error, correct?

[2020-04-14 14:55] seb86 commented on #113
@metemaddar You should have got the error code "cocart_not_enough_stock_remaining" I don't see a bug here after running a local test.

What your doing is correct. If you only have 2 left in stock and you try to add the item again to increase the quantity to 3, it will not add it.

[2020-04-14 15:02] metemaddar commented on #113
Oh. You are true. I didn't pay attention to the body of the response.

[2020-04-14 15:04] seb86 commented on #113
OK

[2020-04-14 15:04] #113 closed

[2020-04-15 12:04] waseem99 opened #114 "Get Variation ID from matching attributes if Variation ID is missing"
If you have a variable product with huge number of variations, it is very difficult to hardcode all the ids specially if they ain't in a specific order

[2020-04-15 12:13] seb86 commented on #114
Can you explain more? Im currently doing variable product validation which another issue is already open for.

[2020-04-15 12:25] waseem99 commented on #114
I have a variable product with 6565 variations.
So as per the documentation I have to add variation id, variation attributes  as well. To achieve this, I have to hardcore 6565 ids.
So if the API can add variable product to cart with variation attributes only that will be amazing or if there is a function to get variation id from variation attributes.

[2020-04-15 12:30] seb86 commented on #114
Well i just added a condition that a variation id must be set in order to add the variable product to the cart based on another users feedback. I was going to try and set the attributes based on the variation ID if the attributes are not set but you want it the otherway around.

I guess this needs brainstorming so more before i commit anything final in my PR.

[2020-04-15 12:32] seb86 commented on #114
Why do you have to hardcode the IDs and not attributes? Which API are you using to fetch products, WC REST API or CoCarts Products add-on?

[2020-04-15 12:44] waseem99 commented on #114
I am using this way to add variation to cart:
Variation products require two things in order to add to the cart correctly. First is the variation_id. The second is the attributes of that variation. You need to pass both parameters in order for a valid variable product to be added to the cart. Without the attributes of the variation, there is no way to identify the variation added.

[2020-04-15 12:59] seb86 commented on #114
I'm well aware of what is needed to be able to add the variation to the cart, I'm just a little lost as to why you can get the attributes but not the ID for the variations.

[2020-04-15 13:18] waseem99 commented on #114
https://ginyaki.com/menu/
so I get attributes when people choose option, now with variations id, how shall I add if I have 6565 variations ?

[2020-04-15 13:26] seb86 commented on #114
Can you share a little bit of code in a gist snippet?

[2020-04-15 13:30] waseem99 commented on #114
I don't believe that will help
So a more generic request, if to add variable products to cart one has only pass variation attributes as parameter that will be amazing and I am failing to illustrate it :/

[2020-04-15 13:39] seb86 commented on #114
I will see what I can do.

[2020-04-15 13:46] seb86 commented on #114
Turns out WooCommerce already has the answer were are looking for.

https://github.com/woocommerce/woocommerce/blob/master/includes/class-wc-ajax.php#L469

[2020-04-15 13:50] waseem99 commented on #114
That's great

[2020-04-15 14:00] seb86 commented on #114
[code]

[2020-04-23 17:24] seb86 commented on #107
This should be much easier to work on once v2.1 is released.

[2020-04-23 17:26] seb86 commented on #73
A new session handler has been developed and is working well with the recent commits I have made. I look forward to your feedback once the next beta is released.

@yagnikv @Zacad @shendriksza @danphilibin

[2020-04-23 17:26] #73 closed

[2020-05-02 21:55] seb86 commented on #107
With v2.1 of CoCart, create two customers and add different items to the cart for each customer. Best to test one customer in Postman and the other customer via your app.

### Steps

1. Authenticate the first customer and add an item and view cart.
2. Authenticate the second customer and add an item without clearing the cart and view cart.

The carts should not be the same or merged.

[2020-05-03 01:05] seb86 commented on #107
Solved. New documentation to write.

[2020-05-03 01:05] #107 closed

[2020-05-03 01:06] #84 closed

[2020-05-10 00:48] gauravbordoloi opened #116 "wp-json/cocart/v1/totals throws error"
After I updated to the latest version yesterday night, I am receiving this 2 errors.

WHILE CALCULATING TOTAL ->

I am also receiving this error, when I am trying to uninstall the plugin from dashboard ->

Stack trace:
#0 /opt/bitnami/apps/wordpress/htdocs/wp-admin/includes/plugin.php(1222): include()
#1 /opt/bitnami/apps/wordpress/htdocs/wp-admin/includes/plugin.php(956): uninstall_plugin('cart-r

[2020-05-10 01:02] gauravbordoloi commented on #116
I am also unable to uninstall, throwing this error.

CRITICAL Uncaught Error: Class 'CoCart_Install' not found in /opt/bitnami/apps/wordpress/htdocs/wp-content/plugins/cart-rest-api-for-woocommerce/uninstall.php:16
Stack trace:
#0 /opt/bitnami/apps/wordpress/htdocs/wp-admin/includes/plugin.php(1222): include()
#1 /opt/bitnami/apps/wordpress/htdocs/wp-admin/includes/plugin.php(956): uninstall_plugi

[2020-05-10 10:55] seb86 commented on #116
Thank you for reporting this @gauravbordoloi

[2020-05-10 12:16] seb86 commented on #116
Fixed. Pushing HOTFIX.

[2020-05-10 12:16] #116 closed

[2020-05-11 11:13] seb86 opened #117 "ISBAT: See customers cart synchronized"
**Is this enhancement related to a problem? Please describe.**

Now that CoCart has it's own session handler, there is currently a down side to synchronising carts should a developer not use the load cart from session feature and the same vs.

Meaning a customer can start adding items via the headless app but not see the same cart via the web.

**Describe the solution you'd like**

There are two m

[2020-05-11 11:19] WebWolfRus commented on #117
I think will be good first :)

[2020-05-11 11:33] seb86 commented on #117
Thank you for reporting the issue @WebWolfRus

[2020-05-11 15:26] seb86 commented on #117
@WebWolfRus Can you try out [this branch](https://github.com/co-cart/co-cart/tree/sync) please to test cart sync for registered customers?

There is a new debug tool labelled "**Synchronize carts**" that will copy carts over to CoCart's session table under "WooCommerce -> System Status".

[2020-05-11 15:39] WebWolfRus commented on #117
Thank! We wait. It is very cool!
So there is a problem with authorization, we enter Authorization ":" Basic bWloYTkwNQ == then after switching to another page, then authorization fails. It would be cool to come up with a solution for an authorized user session as well.

[2020-05-11 15:41] seb86 commented on #117
@WebWolfRus Have you already tried the branch? Did you authorize the customer on the other page too?

[2020-05-11 15:48] WebWolfRus commented on #117
Yes, I got it, I open it in the browser like this. /my-account/?cocart-load-cart=$idcart
headers: {"Authorization": "Basic bWloYkwNQ =="},
And everything is fine, but as soon as I go to any other page, everything goes astray .. the basket remains, but the user is no longer logged in.

That is, here the basket was transmitted to the user immediately by id and everything works well on one page, but

[2020-05-11 15:51] seb86 commented on #117
Only the cart data is loaded as stated in the documentation. As for the authentication issue, I thought your customer was already logged in via the web?

[2020-05-11 15:54] WebWolfRus commented on #117
No, the client is not logged in. I am trying to authorize it through basic authorization. (Authorization: Basic). Maybe in the future you will have some kind of simple authorization solution as you did for transferring the cocart-load-cart basket it would be very cool.

[2020-05-11 15:56] seb86 commented on #117
I don' think that is possible otherwise it would already be supported in the core of WordPress.

[2020-05-11 15:57] seb86 commented on #117
Can you give me the code snippet you are using to do this while loading the cart to the web?

[2020-05-11 16:01] WebWolfRus commented on #117
am writing a mobile application on flutter. And inside the application, I open the flutter webview browser with a link to the checkout page. In general, I'm trying to make the same basket on flutter as it is implemented here: https://codecanyon.net/item/oreo-fashion-full-react-native-app-for-woocommerce/24951657 here the order is added to the basket and then the client just throw on the checkout p

[2020-05-11 16:08] seb86 commented on #117
I'm trying to understand the authentication but without some code, cant help.

[2020-05-12 03:34] seb86 commented on #117
You should read this article as to why you cant log in a user on the web via the REST API. https://developer.wordpress.org/rest-api/using-the-rest-api/authentication/

[2020-05-12 03:36] gauravbordoloi commented on #116
Great to see issue was fixed on the same day :)

[2020-05-12 07:23] WebWolfRus commented on #117
Thank you so much! :) Waiting for Synchronize carts update :)

[2020-05-13 13:48] seb86 commented on #117
This release should fix this issue. [v2.1.2-rc.1](https://github.com/co-cart/co-cart/releases/tag/v2.1.2-rc.1)

[2020-05-13 14:48] WebWolfRus commented on #117
WOW nice!! Thanks!!!

[2020-05-13 14:53] seb86 commented on #117
Look forward to your feedback. Thank you @WebWolfRus

[2020-05-13 18:04] seb86 commented on #117
Looks like the issue is resolved. Customer did a live test with me via video chat so I am closing this issue.

[2020-05-13 18:04] #117 closed

[2020-05-15 22:13] #114 closed

[2020-05-17 14:45] seb86 commented on #87
Done. Commit b977569f7db8fae5ae735749b721227cdf98e494

[2020-05-17 14:45] #87 closed

[2020-05-22 13:38] #90 closed

[2020-06-06 18:17] guntercn opened #120 "Call to undefined method CoCart_Session_Handler::has_session()"
Hi
there is an error when you start the product selection screen

plugins
CoCart 2.1.2
WooCommerce 4.2.0
WooCommerce Stripe Gateway 4.4.0
WooCommerce PayPal Checkout Gateway 2.0.2

example
http://YOUR_SITE/product/YOUR_PRODUCT NAME

[code]

thanks.

[2020-06-06 18:27] seb86 commented on #120
Thank you for reporting the error @guntercn

Looking into it now.

[2020-06-06 18:51] seb86 commented on #120
It appears to be caused when **Payment Request Buttons** is enabled in Stripe Gateway settings @guntercn

Can you disable it for now until I find a work around please.

Thank you.

[2020-06-06 19:07] seb86 commented on #120
Fixed. Pushing update now @guntercn

[2020-06-06 19:07] #120 closed

[2020-06-12 00:19] artemverbo opened #121 "Filtered `nonce_user_logged_out` is incorrect for frontend purposes causing users logged out to fail verification."
Hi!

Please advise, having some issues with cookies/sessions when Co Cart plugin is enabled.

When trying to register or login via /my-account standard Woo Commerce page:
1) Correct login credentials login silently fails (page resubmits on itself, but session and logged-in cookies are not set).
2) Incorrect login credentials or registration validation problems are not displayed (without Co Cart th

[2020-06-12 02:09] seb86 commented on #121
@artemverbo Update coming.

[2020-06-12 03:48] seb86 commented on #121
The issue was that the value returned for `nonce_user_logged_out` filter was not returning `0`. This is how WordPress understands a logged out user via the frontend. The problem before I added guest support was that `0` was not ideal for a headless architecture and this filter was overlooked when developing a new session handler for guest customers to work.

[2020-06-12 03:48] #121 closed

[2020-06-16 11:46] derLalla opened #124 "init_session_cookie throws error"
## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on GitHub (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have included a failing test as a pull request (O

[2020-06-16 12:28] seb86 commented on #124
Fixed in commit af330a47363454d04ff1ae383f457acad9f689b0

[2020-06-16 12:28] #124 closed

[2020-06-27 15:48] seb86 opened #126 "Introduce new reserved stock mechanic"
WooCommerce is currently developing a new reserved stock mechanic. This will affect the API once it is completed and will eventually depreciate the previous stock check.

Will need to apply new stock mechanic with backwards compatibility for those who have not upgraded WooCommerce once this is released.

Would be good to know how many are up to date with WooCommerce.

[2020-06-29 21:40] seb86 opened #127 "ISBAT pass any requests when adding a product to the cart"
**Is this enhancement related to a problem? Please describe.**
At the moment there is no way to pass additional requests without extending the CoCart API class. This can be more challenging for developers.

**Describe the solution you'd like**
Provide a way to pass additional requested data and validate it before an item is added to the cart so developers can extend how they see fit should the def

[2020-06-30 17:34] seb86 opened #128 "Sync guest customers cart once used "Load Cart from Session" feature."
**Is this enhancement related to a problem? Please describe.**
The current issue with guests customers on the frontend is that the session handler will create a different cart key once the user has added an item to the cart. If the customer started via the app but also used the frontend via a browser and added an item, the session handler would have created a cookie for each with a different cart

[2020-07-07 05:35] aparnamathewjo opened #131 "Cart shows same content for logged in users"
I have tried with the different users by adding products to the cart and always shows the same result for all users. Tried using the persistent cart and not showing the result for the customer user role. We are adding products after logged in. Please help us to figure out the issue.

[2020-07-07 07:02] #131 closed

[2020-07-07 07:03] aparnamathewjo commented on #131
call logout api before authenticating new user woked for me

[2020-07-10 18:12] emranch31 opened #132 "add product bug"
[10-Jul-2020 17:56:30 UTC] PHP Notice: Undefined index: data in /var/www/stage-kitimini/wp-content/plugins/cart-rest-api-for-woocommerce/includes/api/class-cocart-add-item-controller.php on line 244
[10-Jul-2020 17:56:30 UTC] PHP Fatal error: Uncaught Error: Call to a member function get_name() on null in /var/www/stage-kitimini/wp-content/plugins/cart-rest-api-for-woocommerce/includes/api/class-c

[2020-07-10 19:27] #132 closed

[2020-07-13 15:21] seb86 commented on #80
Decided not to add this. Not really something that is needed.

[2020-07-13 15:21] #80 closed

[2020-07-31 15:27] seb86 opened #134 "ISBAT manually create database table for storing carts in session should table not exist after installation"
A recent [support ticket](https://wordpress.org/support/topic/updated-plugin-fatal-error-2/) was posted reporting that the database table did not create automatically when updating. Now this could be just a tiny hiccup and is extremely rare but without that table CoCart does not function.

So just encase this situation happens again. A notice should appear to the administrator notifying them that

[2020-08-07 16:49] seb86 opened #135 "Fix declaration compatibility with add to cart handlers"
Not sure what this means yet or how I can fix it. I don't appear to have any issues with these functions when used. Below are the declaration errors. The only difference is that I pass a new parameter `$request`.

### Simple Products
[code]

### Variable Products
[code]

If you have any ideas, please do share or post a commit with it fixed.

[2020-08-07 23:10] seb86 opened #136 "ISNBAT edit the cart when an order has been created but not finished."
**Is this enhancement related to a problem? Please describe.**
The cart is still open should a customer start an order but not finish payment.

**Describe the solution you'd like**
Prevent the ability to add, update or remove items until the order is in process or completed.

[2020-08-08 03:24] seb86 opened #137 "ISBAT get the cart fresh when I use `return_cart` parameter after updating/removing an item."
**Is this enhancement related to a problem? Please describe.**
The cart returns items that have the wrong quantity or should no longer be there.

**Describe the solution you'd like**
Call the cart again to return the items so it does not look cached.

[2020-08-18 02:27] seb86 opened #139 "Improve loading of plugin in time for WC 4.5"
**Is this enhancement related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

WooCommerce have re-introduced their REST API directly into the core. Support for the new load order and use of functions now available will need to be adapted.

This would be another minor update but would require considerable testing to insu

[2020-08-18 02:44] seb86 opened #140 "Add the use of NAMESPACES"
Eventually the use of NAMESPACES could help with a number of things including packaging the plugin much easier into CoCart Pro and speed for those using PHP 8+

**The solution I'd like**

Include namespaces on all PHP files that are using a class system. This does not include global functions or template files, just class files.

### Example

[code]

Then the namespace can be used like so where ne

[2020-08-18 13:51] seb86 commented on #126
Looks like the reserved stock mechanic is used during checkout which I don't need to support so that's good. Will still need feedback if this is needed for the cart.

[2020-08-26 03:24] seb86 opened #141 "Fatal error: Uncaught Error: Call to undefined method `CoCart_Session_Handler::set_customer_session_cookie()`"
Need to add backwards compatibility for `set_customer_session_cookie()` function as it could be used elsewhere. Details are still unknown.

[2020-08-26 17:34] seb86 commented on #141
While I have not got any further information about the report I will have a backwards compatible function just to be sure in the next update.

[2020-08-26 17:41] seb86 commented on #141
Done in daa87619e57a1cbb99b92989cbd45f7a49a72203

[2020-08-26 17:41] #141 closed

[2020-09-16 14:42] #139 closed

[2020-09-16 14:43] seb86 opened #143 "ISBAT get the correct response code for a successful or error response."
**Is this enhancement related to a problem? Please describe.**
Not all responses return the correct response code.

**Describe the solution you'd like**
Double check each response and make sure the correct response code is used.

**Additional context**
Example of response codes documented.

https://documentation.elasticpath.com/commerce-cloud/docs/api/basics/errors.html

[2020-09-16 14:44] seb86 commented on #143
Guide: https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

[2020-09-16 21:18] seb86 commented on #143
v2.6.2 now released with appropriate adjustments.

[2020-09-16 21:18] #143 closed

[2020-09-18 11:41] DonKoko opened #144 "Mutating the cart should always return the updated cart object"
**Is this enhancement related to a problem? Please describe.**
Currently when using certain endpoints that mutate the cart, we need to then manually do another request to update the cart.

**Describe the solution you'd like**
Each call to cart that changes its state in any way, should return the updated cart. This way it will be super easy and way more performant to keep your client side cart alwa

[2020-09-18 11:46] seb86 commented on #144
Similar issue #137

[2020-09-18 11:46] seb86 commented on #144
Could you provide a workflow example @DonKoko ?

[2020-09-21 17:57] hammadtariq98 opened #146 "Uncaught Error: Undefined class constant `E_WC_ADMIN_NOTE_MARKETING`"
Since WordPress 5.2 there is a built-in feature that detects when a plugin or theme causes a fatal error on your site, and notifies you with this automated email.

In this case, WordPress caught an error with one of your plugins, CoCart.

WordPress version 5.4.2
Current theme: Mein Glaswerk (version 2.4.3.1589892624)
Current plugin: CoCart (version 2.5.1)
PHP version 7.1.33-17+0~20200807.39+debian

[2020-09-22 16:15] seb86 commented on #146
@hammadtariq98 If this error occurred when updating the plugin then do you have the latest version of WooCommerce?

[2020-09-22 16:33] hammadtariq98 commented on #146
@seb86  Yes I have the latest version

[2020-09-22 16:47] seb86 commented on #146
I'm not able to replicate the issue @hammadtariq98

Could you `copy` and `paste` your **WooCommerce System Status** report here please?

[2020-09-23 16:52] seb86 commented on #146
As I said @hammadtariq98 I was not able to replicate the issue but I have improved verification loading notes in the next update.

[2020-09-23 17:34] hammadtariq98 commented on #146
Sorry for the late reply

The version is:

4.2.0 - 2020-06-02

for WooCommerceIt is not the latest version.

[2020-09-23 18:37] seb86 commented on #146
I asked for your WooCommerce System Status report please.

[2020-09-24 18:40] 29satnam commented on #71
I had to add these headers to `/wp-json/cocart/v1/get-cart`:
`["User-Agent": "CoCart API/v1", "Accept": "application/json", "Content-Type": "application/json"]`

[2020-09-25 14:07] hammadtariq98 commented on #146
### WordPress Environment ###

WordPress address (URL): http://www.meinglaswerk.de
Site address (URL): http://www.meinglaswerk.de
WC Version: 4.2.0
REST API Version: ✔ 1.0.8
WC Blocks Version: ✔ 2.5.16
Action Scheduler Version: ✔ 3.1.6
WC Admin Version: ✔ 1.2.3
Log Directory Writable: ✔
WP Version: 5.5.1
WP Multisite: –
WP Memory Limit: 256 MB
WP Debug Mode: –
WP Cron: ✔
Language: en_US
External o

[2020-09-25 16:59] seb86 commented on #146
Didn't know you were not the client @hammadtariq98

Can you please confirm that the latest update of CoCart has solved the issue with the current version of WooCommerce your client has installed. Thank you.

[2020-09-25 17:09] hammadtariq98 commented on #146
Ok, no problem.
So you said there is no need to update wooComerece right?

[2020-09-25 17:12] seb86 commented on #146
No need to update WooCommerce just update CoCart.

[2020-09-25 17:16] hammadtariq98 commented on #146
Thank bro But bad luck. I updated  CoCart but the site crashes again :-(

[2020-09-25 17:20] seb86 commented on #146
Try installing WooCommerce Admin.

[2020-09-25 17:24] hammadtariq98 commented on #146
But why? is it compulsory?

[2020-09-25 17:26] seb86 commented on #146
I want to know if it will remove the error. If it does I will have to bump the if statement for the notes to a higher WooCommerce version.

[2020-09-25 17:27] seb86 commented on #146
If you update WooCommerce it will contain the latest version of WC Admin too but please only do so if you have backed up before which is why I said to install WC Admin only.

[2020-09-25 17:29] hammadtariq98 commented on #146
ok let me check on this with the client then I will get back to you. Thank you

[2020-09-27 14:14] elaynelemos commented on #140
Hey! I can work on it for hacktoberfest. Could you assign it to me?

[2020-09-27 14:47] seb86 commented on #140
There you go and thank you.

[2020-09-29 15:01] seb86 commented on #140
Don't forget it's for the **[v3.0.0](https://github.com/co-cart/co-cart/tree/v3.0.0)** branch.

[2020-09-29 15:27] elaynelemos commented on #140
Ok!

[2020-10-01 10:54] seb86 commented on #146
Thank you for the pull request @dmchale  Let me know if you are doing the Hacktoberfest and I will assign you to this issue.

[2020-10-01 11:50] dmchale commented on #146
I am, cheers 😀 Please let me know if you take any issue with my solution
here! Defaulting back to "info" seemed the best course of action to me.

On Thu, Oct 1, 2020, 6:54 AM Sébastien Dumont <notifications@github.com>
wrote:

[2020-10-01 14:31] #146 closed

[2020-10-01 14:32] seb86 commented on #146
Thank you for fixing this issue @dmchale

[2020-10-01 14:45] dmchale commented on #146
Happy to help, @seb86 !

[2020-10-01 22:33] seb86 opened #148 "Either prevent the header `X-CoCart-API` been set if accessing a specific cart in session or return correct."
**Is this enhancement related to a problem? Please describe.**
Because we are only accessing a cart in session to return it's data, we are not setting the cart key in session or via cookie. So when reading the headers returned using the route to access a specific cart, the cart key does not match.

**Describe the solution you'd like**
Either find a way to set the cart key used in the request to re

[2020-10-01 22:34] seb86 commented on #148
The `X-CoCart-API` will be available in CoCart v2.7.0 but you can work from the `master` branch as it is already applied on the repository.

[2020-10-02 01:47] seb86 opened #149 "Return `rest_authentication_error` filter true for any CoCart API request instead of unfiltering `rest_cookie_check_error`"
**Is this enhancement related to a problem? Please describe.**
Yes. Instead of removing the filter `rest_cookie_check_errors`. We simply filter in and check for any CoCart API requests made and return the value `true`. This will also help those who are developing locally without SSL enabled.

**Describe the solution you'd like**
Add a new filter that checks for any CoCart API request and return tr

[2020-10-02 01:48] seb86 commented on #149
Use this function `CoCart_Helpers::is_rest_api_request()` to identify any CoCart API requests.

[2020-10-05 16:04] hammadtariq98 commented on #146
@seb86  yet I did not get a solution

[2020-10-05 16:07] seb86 commented on #146
Patch will be in the next release scheduled for 14th October. You can test the latest release candidate and see if that helps for the time being.

[2020-10-05 18:10] martin-swiftcom commented on #116
Hi, I'm experiencing this same issue on the latest versions (2.6.3 and 2.7.0). I also had to roll back to v2.0.13 to solve the issue for now

[05-Oct-2020 18:04:46 UTC] PHP Fatal error:  Uncaught Error: Call to a member function calculate_totals() on null in /public_html/wp-content/plugins/co-cart-master/includes/api/class-cocart-calculate-controller.php:67
Stack trace:
#0 /public_html/wp-includes

[2020-10-05 18:25] seb86 commented on #116
Not the exact same error. This issue is closed so please create a fresh bug issue and use the template provided. Thank you @martin-swiftcom

[2020-10-05 18:30] hammadtariq98 commented on #146
I used but why it gives `400 error`

`var settings = {
    ...headers,
    "url": `${wpUrl}/add-item`,
    "method": "POST",
    "data": {
      "product_id" : ID,
      "quantity" : 1,
      "cart_item_data" : state // object
    }
  };

  console.log(settings);

  $.ajax(settings).done(function (response) {
    if(response){
      console.log("order update Submited",window.parent.location.href)

[2020-10-05 18:42] seb86 commented on #146
@hammadtariq98 Support is not done here.

[2020-10-05 19:53] martin-swiftcom opened #152 "PHP Fatal error: Uncaught Error: Call to a member function calculate_totals() on null"
## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on GitHub (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have included a failing test as a pull request (O

[2020-10-05 20:25] seb86 commented on #152
Why are you doing an internal request? Can you share your code snippet to test?

[2020-10-06 07:27] martin-swiftcom commented on #152
We created an endpoint that returns the results from 4 cocart enpoints combined to reduce the amount of API calls that we were making to the backend server. Here is the effective function. In our code each new internal request is done in its own function, but this better illustrates the flow

function cart_get_all_data($incoming_request)
{
  $return_array = [];
  $incoming_request->set_param("thum

[2020-10-06 12:23] seb86 commented on #152
@martin-swiftcom I don't think your doing it right from what I am reading, plus there are typos and methods incorrectly used. Maybe try something like this.

[code]

[2020-10-06 14:29] martin-swiftcom commented on #152
If I roll back to v2.0.13 the above works perfectly.

You can test with just the following, which worked in v2.0.13:

`
function cart_get_all_data($incoming_request)
{
  $return_array = [];
  $incoming_request->set_param("thumb", true);

  $incoming_request->set_route('/cocart/v1/calculate');
  $incoming_request->set_method('POST');
  $return_array["calculate"] = rest_do_request($incoming_request)

[2020-10-06 14:38] seb86 commented on #152
And what do I pass as the `$incoming_request`?

[2020-10-06 15:08] martin-swiftcom commented on #152
It is the incoming request received by a normal endpoint. So I added an endpoint called '/expanded_cart/v1/get_cart_data' for example, then that request is passed to the function above. In this case, the incoming request is the request made to my custom endpoint that is being forwarded to the cocart endpoint. I can provide a large amount of functions to serve as an example?

[2020-10-09 02:28] dmchale commented on #152
I believe I found the issue, but I'm not sure how @seb86 wants to address.

When the `CoCart_Cart_API` class initializes, it calls `maybe_load_cart()` to manually create the WooCommerce cart object if it doesn't otherwise exist. The issue comes from the call to `CoCart_Helpers::is_rest_api_request()` inside of there.

`is_rest_api_request()` is written to see if the request is both 1) a REST reque

[2020-10-09 06:50] martin-swiftcom commented on #152
@dmchale This makes perfect sense! Perhaps I can call maybe_load_cart in the meantime? Are you referring to this function?

`AbstractRoute::maybe_load_cart();`

[2020-10-09 13:16] dmchale commented on #152
@martin-swiftcom I was originally referring to `CoCart_Rest_API::maybe_load_cart()`, but if you are looking to copy code into your own accessible function then yes I would probably take from `AbstractRoute::maybe_load_cart()` (because that also takes care of loading the woocommerce include files for you). The one extra thing that `CoCart_Rest_API::maybe_load_cart()` does is a check to see if the u

[2020-10-10 14:03] seb86 commented on #152
Not that I recommend it but would a filter on the returned result here help you @martin-swiftcom ? https://github.com/co-cart/co-cart/blob/master/includes/class-cocart-helpers.php#L338

[2020-10-10 17:01] seb86 commented on #152
Since this is not an error with CoCart I will lock the conversation.

[2020-10-14 11:23] DonKoko commented on #144
I kinda missed this comment. I have worked so far with 1 headless webshop API and it worked in this way and I found it extremely useful.
The concept is that any call to the API that mutates the cart, should return the new cart value. That way it can easily be updated in the state, without doing a manual merge. This way we can guaranteed that our cart in our frontend state is 1:1 with the cart in o

[2020-10-14 12:14] seb86 commented on #144
@DonKoko Why would the cart return for counting the items?

[2020-10-14 12:38] seb86 opened #154 "Reduce default cart expiration"
**Is this enhancement related to a problem? Please describe.**

Shopping online has increased since Covid-19 so having carts in session that last longer than 7 days can be confusing when handling stock.

Since CoCart does not yet have a way to check stock before the cart loads it would best if the cart did not stay for 30 days as currently set.

It can still be filtered to the amount of days the d

[2020-10-14 13:06] DonKoko commented on #144
You are correct. Count items shouldn't be there. I edited my comment. Maybe another good way to explain it is that its for all requests types except `GET`.

[2020-10-14 16:56] #152 closed

[2020-10-15 07:05] HolgerDoerner commented on #154
Hello @seb86!
I have made a PR for this Issue as part of Hacktoberfest 😄

[2020-10-15 11:16] seb86 commented on #154
Thank @HolgerDoerner You have been assigned to this issue so you get credit.

[2020-10-17 16:12] seb86 opened #157 "ISBAT get an error if variation does not have price set."
**Is this enhancement related to a problem? Please describe.**

Got a report via email that there is no distinct error when attempting to add a variable product that has a variation with no price set.

**Describe the solution you'd like**
A clear error for a variation that can not be added as there is no price.

[2020-10-18 18:22] seb86 opened #158 "ISBAT: Avoid setting cart cookie mulitple times"
**Is this enhancement related to a problem? Please describe.**
An issue was reported on WooCommerce's GitHub repository about the cookie setting multiple times returning this error `ERR_RESPONSE_HEADERS_TOO_BIG`. Would like to know if this has been an issue with CoCart and if the fix needs to be applied also in CoCart? Please comment below.

**Describe the solution you'd like**
A PR solution has a

[2020-10-19 10:23] laurentpetijean opened #159 "Multiple items at once"
Hi,

There is a way to add multiple items at once to the cart ?

I code a mobile application where several hundred elements are added at a time and by performing this addition in a for loop the processing time is extremely long

Thanks in advance.

[2020-10-19 10:26] seb86 commented on #159
Multiple items can not be added to the cart at once in the core of CoCart. A [batch add-on](https://cocart.xyz/add-ons/batch/) is in development.

[2020-10-19 10:34] laurentpetijean commented on #159
Thank you for your prompt response

This add-on is not yet available? Even in beta?

My items are simple products with only "cart_item_data" that would be compatible with this add-on?

Thank you

[2020-10-19 10:42] seb86 commented on #159
No it's not yet ready. I don't I will be supporting the use of `cart_item_data` in batch form at this time.

[2020-10-19 11:07] seb86 opened #160 "Support OAuth to prevent been blocked by CORS policy"
**Describe the solution you'd like**

Already said in issue title.

**Additional context**

Most likely you will need to alter the [cors_headers()](https://github.com/co-cart/co-cart/blob/master/includes/class-cocart-authentication.php#L129,#L148) function.

[2020-10-20 16:27] seb86 commented on #140
Any update on this yet @elaynelemos

[2020-10-27 17:21] #154 closed

[2020-10-28 12:39] seb86 opened #163 "PHP 8 Compatibility"
**PHP 8** is only around the corner. I have yet to find out if there is any significant changes that require adding support for PHP 8 alone at this time but will need testing to be done.

Please comment on this issue if you have any issues using CoCart with PHP 8.

Thank you.

[2020-10-28 12:41] #159 closed

[2020-10-28 20:57] seb86 commented on #163
[Timetable](https://wiki.php.net/todo/php80#timetable) for PHP 8 release.

[2020-10-28 20:58] seb86 commented on #163
[Download PHP 8](https://downloads.php.net/~pollita/) release candidate.

[2020-10-28 21:28] seb86 opened #164 "Allow filtering of cookie flags, which enables setting of samesite"
Currently, it's not possible to set the "samesite" attribute on a cookie (or indeed, to do any filtering of what is set). It'd be useful generally to have a filter in `cocart_setcookie()` to allow arbitrary changing of the cookie options.

By changing the parameter style for `setcookie()`, it becomes possible to allow "samesite" to be set.

[2020-10-28 21:32] seb86 opened #165 "Introduce cookie httponly filter for `cocart_setcookie()`"

[2020-10-28 21:54] seb86 opened #166 "Composer v2 Support"
Needs testing with Composer v2

[2020-10-28 21:58] seb86 commented on #163
[What's new and changed](https://php.watch/versions/8.0)

[2020-11-01 10:34] seb86 commented on #165
Done

[2020-11-01 10:34] #165 closed

[2020-11-01 10:40] seb86 commented on #164
Done

[2020-11-01 10:40] #164 closed

[2020-11-04 09:18] Cobretti1 opened #169 "add-item endpoint returnes a new cart key ( 'x-cocart-api' in header ) in every request"
In **2.7.0** I read this:

When I add the first item to cart, it returnes the cart_key ( 'x-cocart-api' ). I save this locally, and use for the next request. Works fine with '`get-cart`' and '`count-items`' and '`clear`', but when I want to update or delete item via '`item`' endpoint, using this **cart_key** in parameters, `404 cocart_item_not_in_cart`.

When I want to add a new item to this cart

[2020-11-04 11:36] seb86 commented on #169
Hi @Cobretti1

Thank you for your report.

First of all this error `cocart_item_not_in_cart` means the item was not in the cart so it either was not there to begin with or the wrong cart loaded. Did you forget to use the `cart_item_key` parameter to select the item to update or delete?

Did you authenticate as a registered customer at any point?

[2020-11-04 12:08] seb86 commented on #169
@Cobretti1 I have just run a test locally using Postman and the header returned the same cart key all the time. Any more details you can provide will be a big help.

## Steps I made as a guest customer.
1. Get empty cart, returns `fa4f5bb5f014ec2b3a245c1eae2e9966` and no cookie created. Expected.
2. Add an item to cart, returns `cfdb54e9d6d8c67749c3d82eba2db108` and cookie created storing matching

[2020-11-04 12:38] seb86 commented on #157
What I find odd is that WooCommerce does not validate this either via PHP. I set a variation with no price and as it should, it does not show as an option on the product page, even if stock is available. So why this does not get stopped before added to the cart is strange.

I also noticed that it adds the variable product with attributes still applied but the product title returns without it and t

[2020-11-04 12:43] seb86 commented on #157
This issue maybe related to this one (via WooCommerce repo) which is being patched. https://github.com/woocommerce/woocommerce/issues/28179

[2020-11-04 13:10] seb86 commented on #157
OK it seems this error is actually due to the variation ID missing and only set the parent ID of the product that this error occurs. Validation is set and valid. If you set the variation ID, even as the product ID the variation does not get added and returns the correct error response.

[2020-11-04 14:05] seb86 commented on #157
Pushed a fix for this to help with user error.

[2020-11-07 01:04] seb86 opened #170 "ISBAT search all CoCart add-ons via add plugins page in the WordPress dashboard"
**Is this enhancement related to a problem? Please describe.**
Make it easy for users to find all CoCart related plugins including those that are not in the WordPress.org plugin directory.

**Describe the solution you'd like**
Inject results based on keywords that match, highlight the plugins and provide information about each one with an action button depending on the status of that plugin instal

[2020-11-07 01:06] seb86 commented on #169
If there is no further comments on this issue then I will close it.

[2020-11-07 01:06] #169 closed

[2020-11-07 01:07] seb86 commented on #136
This would be related to CoCart Pro.

[2020-11-08 16:03] seb86 commented on #163
First test running PHP 8.0 RC.1 shows promise so far. No errors so far but that could change depending on WooCommerce and the next RC of PHP 8.

Used WooCommerce 4.7.0 RC.1

[2020-11-09 11:34] pauld8 opened #171 "Unable to remove last item in cart after update to 2.7.2"
Recent release 2.7.2 prevents customers from removing the last item in cart.

class-cocart-session-handler, line 427, will always return false since the cart is empty if removing the last item hence the cart won't save in the database.

Both in web / via the API call.

[2020-11-09 15:11] seb86 commented on #171
Thank you for reporting this bug @pauld8

I have just pushed a change on the master branch which I hope will fix the issue. Mind checking it out for me please?

[2020-11-09 15:52] pauld8 commented on #171
Hi, this seems to have fixed the issue. I was able to remove the last item in cart.

[2020-11-09 15:58] #171 closed

[2020-11-12 21:01] #157 closed

[2020-12-02 10:15] gawadepallavipratap opened #191 "ISBAT"
Hello,
I am facing 'Empty cart issue' with my website when I used cocart plugin for rest api in woocommerce.
I have used cocart 2.7.4 version plugin for rest api and all the rest api are working fine but it creates problem to my webiste view cart functionality.When I open cart it display Empty cart.
Please me with this.

## Prerequisites

- [ ] I have searched for similar issues in both open and c

[2020-12-02 10:54] seb86 commented on #191
This report has no detailed information as requested in the template.

[2020-12-02 10:54] #191 closed

[2020-12-10 15:11] seb86 opened #193 "Support Pantheon.io for Guest Customers on the Frontend"
For some strange reason the frontend does not work for guest customers on Pantheon.io with CoCart enabled.

## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on GitHub (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find t

[2020-12-10 15:49] seb86 commented on #193
So after talking to customer services. It appears to be a cache issue and I need to filter the cookie name to match one of the [Cache-Busting Cookies listed](https://pantheon.io/docs/cookies#cache-busting-cookies) that are not cached in order for the cart page to show correctly.

[2020-12-10 15:51] seb86 commented on #193
Was told to check the environment like so.

[code]

[2020-12-10 16:04] seb86 commented on #193
![Shop page, mini cart showing items](https://user-images.githubusercontent.com/497406/101796820-a0981d00-3b09-11eb-88e8-838adea50f05.png)

Shop page, mini cart showing items

[2020-12-10 16:04] seb86 commented on #193
![Cart page, no items show](https://user-images.githubusercontent.com/497406/101796927-c2919f80-3b09-11eb-961f-600f895ac65a.png)

Cart page, no items show

[2020-12-10 16:48] seb86 commented on #193
Pushed a patch here: https://github.com/co-cart/co-cart/tree/host-support

Frontend appears to be working again for guest customers. Still testing to make sure nothing else was affected.

[2020-12-10 17:08] seb86 commented on #193
Tested and works great. Releasing patch now.

[2020-12-10 17:08] #193 closed

[2020-12-11 05:52] jimishsoni1990 opened #195 "ISBAT ... Add multiple items to cart endpoint"
Can we have an endpoint like /add-items, to which we can pass the list of items we want to add to cart.
There can be many events where we would like to add multiple items to cart. Currently i have to do that using a loop and make a call to /add-item endpoint for each item. I believe if i can add all the items in one API call, that will improve the performance of the app.

[2020-12-11 10:38] seb86 commented on #195
@jimishsoni1990 Thank you for your interest. A [batch add-on](https://cocart.xyz/add-ons/batch/) is currently in development.

Feel free to pre-order for early access once a beta is ready to test.

[2020-12-14 14:06] seb86 opened #197 "Headers already sent when filtering `rest_pre_serve_request`"
Recently since WP 5.6 was released. I started to get the following errors.

[code]

I have pushed what I hope is a HOTFIX for this bug. Here is a [comparison of the change I made](https://github.com/co-cart/co-cart/compare/authentication-headers).

Please know that I have only tested locally and don't know if the same error occurs online.

I'm looking for some feedback on this issue.

## Prerequis

[2020-12-17 18:19] seb86 opened #198 "ISBAT view notices on the network admin if activated for network"

[2020-12-20 16:25] seb86 commented on #137
Returning the cart will return by default. The parameter will be removed.

[2020-12-20 16:26] #195 closed

[2020-12-20 16:27] seb86 commented on #158
Not had any issues with this or seen any updates about it with the core of WooCommerce. Closing for now.

[2020-12-20 16:27] #158 closed

[2020-12-20 18:53] #198 closed

[2020-12-23 14:57] seb86 opened #199 "Update FAQ in readme.txt"
Need to update the following:

- [x] How do I start using CoCart?

Need to add the following:

- [x] Is it compatible with WooCommerce Shipping and Tax plugin?
- [x] Why CoCart and not WooCommerce Store API?
- [x] Do you have a JavaScript Library?
- [ ] Can I install/update CoCart via Composer?
- [x] Does CoCart work for multi-site network?
- [x] Can I enable white label for CoCart?
- [x] Does CoC

[2020-12-23 14:58] seb86 commented on #199
More will be added as I come up with them or get from users.

[2020-12-28 19:50] seb86 commented on #199
New branch for updating the readme.txt file. https://github.com/co-cart/co-cart/tree/update-readme

[2021-01-09 12:24] #163 closed

[2021-01-11 08:19] #199 closed

[2021-01-11 08:31] #126 closed

[2021-01-20 13:32] #197 closed

[2021-01-21 13:12] renovate[bot] opened #204 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-01-24 15:22] ricokahler opened #205 "ISBAT Load Cart from Session with redirect. Does not work when logged out"
## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on GitHub (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have included a failing test as a pull request (O

[2021-01-25 12:36] seb86 commented on #205
Thank you for your detailed report @ricokahler

It is a known issue and one I am doing my best to figure out how to solve. No eta at this time.

[2021-01-29 01:03] seb86 commented on #205
[This release](https://github.com/co-cart/co-cart/releases/tag/v2.9.0-rc.3) should solve this issue @ricokahler Please test and provide feedback.

Thank you.

[2021-01-29 09:59] sdevogel commented on #164
Hi, looking into the changelogs I see a filter is added to added options to the cookies. Im looking into a way of setting the "samesite" to "none" so the cookies can be set since the admin is on a different domain.

How would you add the option with the cocart_set_cookie_options filter?
Thanks in advance!

[2021-01-29 13:04] ricokahler commented on #205
Hi @seb86 thanks for the follow-up! However, I am still getting this issue.

Here's a video reproduction on the new version

![CleanShot 2021-01-29 at 07 55 51](https://user-images.githubusercontent.com/10551026/106277975-e6b75600-6207-11eb-80f2-8825f983e410.gif)

Here I:

1. Ensure CoCart v2.9.0-rc.3 and WooComerce are the only plugins active
2. Grab a CartKey
3. Open a new incognito window for a

[2021-01-29 14:08] seb86 commented on #205
Thank you for the feedback. I will run some more tests to see what is still missing.

[2021-01-30 00:16] seb86 commented on #205
Just to give you a small update @ricokahler I'm re-writing this feature with the support of the changes I had made the day before. Hopefully it will be more affective and cleaner in the background. Thank you for your patience.

[2021-01-30 00:18] ricokahler commented on #205
Hey, thanks for the great support!

[2021-02-15 01:08] seb86 commented on #170
Done

[2021-02-15 01:08] #170 closed

[2021-02-16 15:27] seb86 commented on #205
Moving this issue to be completed for v3.0.0

[2021-02-18 17:22] seb86 commented on #144
Works and ready for CoCart Lite. Will be applying the same to CoCart Pro in a future update when CoCart v3.0.0 is ready for launch.

[2021-02-18 17:24] seb86 commented on #140
Will open again if this is really needed.

[2021-02-18 17:39] seb86 commented on #135
Solved!

[2021-02-18 17:39] #135 closed

[2021-02-18 17:43] #127 closed

[2021-02-21 04:13] seb86 opened #207 "ISBAT disable "Load Cart from Session" feature."
**Is this enhancement related to a problem? Please describe.**
Not all developers want this feature enabled.

**Describe the solution you'd like**
A filter that can be used to disable it.

[2021-02-21 04:24] seb86 opened #208 ""Load Cart from Session" should lookup cart_key against user ID for registered users."
**Is this enhancement related to a problem? Please describe.**
It has been brought to my attention that this feature could be misused for registered users. While this feature currently does not load any personal information, it is currently being re-written to be better. This must be part of that.

**Describe the solution you'd like**
Make sure that a registered users cart cannot be loaded if the

[2021-02-21 04:56] seb86 opened #209 "Don't handle user ID as cart key. Session must log user ID and cart key separate."
**Is this enhancement related to a problem? Please describe.**
When adjusting the session handler to support guest customers, they would always return `0` which made having their own cart difficult. Now instead of `0` they are given a unique random `42` length key. While this is working fine, it is also limiting should a store want to do possible "**POS**" Point of Sale.

By allowing the cart key

[2021-02-21 18:24] seb86 commented on #148
I think this got fixed in the development for v3.0.0 but will have to check again.

[2021-02-21 18:25] seb86 commented on #205
Related issues: #209 , #208

[2021-02-23 16:20] seb86 commented on #209
Another advantage to this change is that a customer may have abandoned a cart and created a new one shortly after. This would allow you to see how/what your customers are thinking when ordering from your store by comparing the products they have added per cart.

[2021-02-26 03:07] seb86 commented on #148
Done

[2021-02-26 03:07] #148 closed

[2021-02-28 04:36] seb86 opened #210 "Enhance setup for stores that are not new"
**Is this enhancement related to a problem? Please describe.**
A store maybe already up and running, meaning they will most likely have a lot of carts already in session that need to be transferred over to the new session table. Need to notify the administrator that they need to process transfer.

Until the user has made a choice, the WooCommerce session handler will still be in use. Only once the

[2021-03-01 01:14] #136 closed

[2021-03-01 16:35] #137 closed

[2021-03-07 16:54] #149 closed

[2021-03-10 11:56] seb86 commented on #207
Done

[2021-03-10 11:56] #207 closed

[2021-03-16 18:39] seb86 opened #214 "[Bug]: Session table for each site I have active/created in my network not created"
## Prerequisites

- [X] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on GitHub (this is **not** the same version as on WordPress.org!)
- [X] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have included a failing test as a pull request (O

[2021-03-16 19:00] seb86 commented on #214
This bug still exists in v3 that is in development.

[2021-03-17 10:42] seb86 commented on #214
Fixed in v3

[2021-03-18 17:57] seb86 commented on #214
Fixed and released in v2.9

[2021-03-18 17:57] #214 closed

[2021-03-18 20:56] seb86 commented on #134
This idea is a bit too much but with the database upgrade routine added this is not needed. Tests have not failed and the database is install every time. The session table can also be manually verified and created should it be missing via _WooCommerce System Status -> Tools_.

[2021-03-18 20:56] #134 closed

[2021-04-03 13:59] seb86 commented on #160
Adding samesite attribute to the cookie helped. No need to take this further.

[2021-04-03 13:59] #160 closed

[2021-04-03 14:00] #144 closed

[2021-04-06 09:23] ikarelin opened #217 "Cannot execute the first request to API"
## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [ ] The issue still exists against the latest `master` branch of CoCart on GitHub (this is **not** the same version as on WordPress.org!)
- [ ] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have included a failing test as a pull request (O

[2021-04-06 11:00] seb86 commented on #217
The problem is not with CoCart but with the authentication plugin you have installed.

[2021-04-06 11:00] #217 closed

[2021-04-06 11:23] ikarelin commented on #217
https://docs.cocart.xyz/#index
By default, the API provides information about all available endpoints on the site. Authentication is not required to access the API index.
Do I need to authenticate to get data ?

[2021-04-06 11:26] seb86 commented on #217
No you don't but there is clearly something wrong with your authentication plugin.

[2021-04-06 17:04] seb86 opened #218 "Backward support legacy filter `woocommerce_add_to_cart_validation`"
Filter `woocommerce_add_to_cart_validation` is being considered legacy and will eventually be dropped in the future.

This filter is one of the most important to the core of WooCommerce and extensions, official and third-party.

In order to keep CoCart and supported extensions running smoothly, the filter will be required to be backwards supported until developers have fully moved away from using

[2021-04-06 17:23] seb86 opened #219 "ISBAT to access a cart without the need of cookie validation"
**Is this enhancement related to a problem? Please describe.**
Developers who are using frameworks that don't support cookies well are struggling to support guest customers. Due to the design in the core of WC, the session requires checking if a cart hash has been created for the cart before returning which is stored in a cookie.

**Describe the solution you'd like**
To override the use of a requi

[2021-04-09 23:54] seb86 opened #221 "Should lookup `cart_key` against user ID for registered users."
## Reason
To help tighten security to prevent abuse of API v2.

## Dev Notes
The `cart_key` global parameter is designed for customers that are **guests**, that have not been authenticated as a registered user. One could access a registered customers cart simply by placing the user ID via the `cart_key` parameter.

This has been misused before by developers who don't fully understand a front-end R

[2021-04-14 17:58] Jonofat opened #222 "Getting cart with cart key always shows 0 products in cart"
I am using this plugin along with CoCart - Get Cart Enhanced and I don't want to use cookies etc. So, when I add a product to the cart I see a key in the response that looks like this "76dc611d6ebaafc66cc0879c71b5db5c". So, that seems all good. But when I then try to get the cart it always shows 0 items.

I am making a GET request like this:

[code]

What am I doing wrong?

[2021-04-14 18:58] seb86 commented on #222
Have you tested that CoCart functions first via one of the tools listed in the documentation? Also I provide a JS wrapper to fully support CoCart out the box.

[2021-04-15 04:48] Jonofat commented on #222
Which tools are you referring to? I tried to get the X-CoCart-API in the header but I don't seem to be able to access it or see it using axios. If I try the below I don't see X-CoCart-API there. But if I look in my browser console I do see it there.

[code]

Also, could you please provide me with a link to the JS wrapper? If I can get the above sorted though then maybe I won't need it.

[2021-04-15 06:10] seb86 commented on #222
There is a lot in the documentation that already answers everything you need including [why the header is not returning](https://docs.cocart.xyz/#knowledge-base-why-am-i-not-seeing-the-x-cocart-api-header-returning).

You can search the documentation too to help narrow down the content.

I suggest looking a little harder please.

[2021-04-15 06:12] Jonofat commented on #222
Apologies, I will take a look at that and if it works I will close this out.

[2021-04-16 14:15] seb86 commented on #222
Any updates @Jonofat

[2021-04-16 14:17] Jonofat commented on #222
Sorry for delay. All sorted. I decided to go with Cookies and it is working nicely, thanks!

[2021-04-16 14:17] #222 closed

[2021-04-16 14:18] seb86 commented on #222
So was it a CORS issue?

[2021-04-16 14:19] Jonofat commented on #222
Yes, after adding this filter it worked okay

`add_filter( 'cocart_disable_all_cors', function() { return false; });`

[2021-04-22 03:21] seb86 commented on #208
Done in commit 12aead45b6f4259d9645a66f47337749f0b456b6

[2021-04-22 03:21] #208 closed

[2021-04-22 07:23] seb86 commented on #205
Deprecating the redirect option after many failed attempts. Better to just load the cart in session on the page you wish to be on.

[2021-04-22 07:23] #205 closed

[2021-04-22 08:29] #221 closed

[2021-04-23 08:35] #128 closed

[2021-04-30 13:00] vince93290 opened #229 "Compatibility with WP-GraphQL"
I am currently developing an ecommerce with front (next js) for static product page  and back (wordpress) technology, I use wpgraphql, wp-graphql-woocommerce and cocart as a plug-in.

I have no problem when I use cocart v2 everything works but when I make the update to version 3 wpgraphql no longer works.

plugin version:
wpgraphql: 1.3.5
WPGraphQL WooCommerce (WooGraphQL): 0.8.1
Cocart v3 3.0.0-b

[2021-04-30 13:23] seb86 commented on #229
@vince93290 Could update to CoCart RC 1? There was an authentication issue in beta 4 that could be related to your problem. If you have any other error logs that could also identify where the problem is located that would be helpful.

Thank you for your report.

[2021-04-30 14:30] vince93290 commented on #229
I updated to the realesed candidate and I still have the same error.

[2021-04-30 14:33] seb86 commented on #229
Any error logs? I assume you have debug mode enabled, right?

[2021-04-30 14:36] vince93290 commented on #229
if I deactivate graphql woocommerce plugin, wpgraphql plugin works with cocart plugin

[2021-04-30 14:37] vince93290 commented on #229
sorry i am not very familiar with php and wordpress development.

how can i activate debug mode?

[2021-04-30 14:42] seb86 commented on #229
[This guide](https://wpforms.com/developers/how-to-enable-debugging-in-wordpress/) is pretty straight forward.

[2021-04-30 14:46] vince93290 commented on #229
ok know it is activate where i can see debug log ?

[2021-04-30 14:55] vince93290 commented on #229
`[30-Apr-2021 14:40:13 UTC] PHP Notice:  ob_end_flush(): failed to send buffer of zlib output compression (1) in /home/clients/1af26801e7545bf2a2540dfea6d5cd99/web/wp-includes/functions.php on line 4757
[30-Apr-2021 14:40:13 UTC] PHP Notice:  ob_end_flush(): failed to send buffer of zlib output compression (1) in /home/clients/1af26801e7545bf2a2540dfea6d5cd99/web/wp-includes/functions.php on line

[2021-04-30 14:57] vince93290 commented on #229
sorry i dont understand

[2021-04-30 14:59] vince93290 commented on #229
i use graphql woocommerce plug in to fetch product data.

[2021-04-30 15:08] seb86 commented on #229
There is a conflict because both CoCart and WP-GraphQL WooCommerce use there own custom session handler. According to the error log, CoCart is failing because WP-GraphQL WooCommerce has taken over the session handler.

[2021-04-30 15:10] vince93290 commented on #229
so it will be impossible to make the two plug-ins work together?

[2021-04-30 15:21] seb86 commented on #229
I've not had much of a look at WP-GraphQL in general. I just know that the WooCommerce extension uses it's own session handler.

I don't know how they could work together. Will see if I can get someone from WP-GraphQL community to provide some information.

[2021-04-30 15:24] vince93290 commented on #229
Is it strange that it works with version 2.9.3 and not 3?

[2021-04-30 15:37] seb86 commented on #229
v3 has some changes to when the session handler is loaded for better performance.

[2021-04-30 15:43] seb86 commented on #229
So I just got quick word from **Jason Bahl** who is the creator of WP-GraphQL and he helped me identify when a graphql request is being made `is_graphql_http_request()` so I will add that to CoCart for another release candidate.

If you could copy and paste your graphql request so that I can test it out that would be great. Don't forget to format it as `code`.

Best to do like so:

[code]

[2021-04-30 17:33] vince93290 commented on #229
[code]

[2021-04-30 18:45] seb86 commented on #229
Thank you @vince93290

That worked great. Still testing to make sure it did not break the use of loading the cart from session as designed.

[2021-04-30 20:19] vince93290 commented on #229
very good news I am in a hurry to be able to test

[2021-05-01 13:08] seb86 commented on #229
New RC ready to test @vince93290

https://github.com/co-cart/co-cart/releases/tag/v3.0.0-rc.2

[2021-05-02 12:40] #229 closed

[2021-05-02 18:35] vince93290 commented on #229
Nice i'm a little bizzi this week end i will test tomorow.

[2021-05-03 14:41] sdevogel opened #231 "VAT checkout"
Hi, i have a question about the VAT at checkout and how this is calculated.
Since each country has different VAT rules, changing the shipping country should update the VAT. How would this be implemented? Also, when no country is selected yet, how is the VAT already calculated in the totals?

Thanks in advance,
sander

[2021-05-03 17:57] seb86 commented on #231
Checkout is not yet supported.

GitHub issues are meant for enhancement requests and specific, reproducible bugs, not for general support questions. For support options, please review [https://cocart.xyz/support/](https://cocart.xyz/support/).

The easiest way to get support is to join us in the [`#support`](https://cocart.slack.com/messages/CMGGJP03U) channel via Slack for the [CoCart Community](

[2021-05-03 17:57] #231 closed

[2021-05-17 14:04] britweb-tim opened #239 "401 error when adding to cart since updating from 2.x to 3.0.3"
Since updating to 3.0.3 (from 2.x) I can no longer add to cart via a react component (using the @cocart/cocart-rest-api library).  I'm suddenly getting a 401 error from the server.

Response is:
`
{"code":"woocommerce_rest_authentication_missing_parameter","message":"Missing OAuth parameter oauth_consumer_key","data":{"status":401}}
`

Any ideas?  I thought at first it was due to be operating on a

[2021-05-17 14:10] seb86 commented on #239
@britweb-tim Can you provide the request your making?

[2021-05-20 13:41] seb86 commented on #219
Recent tests with Postman having disabled the use of the Cookie jar indicates that this is not an issue any more.

[2021-06-16 16:56] seb86 commented on #210
Decided not to do this part as it causes more problems for those who are already using CoCart.

[2021-06-16 22:01] Maxh1989 opened #242 "Cache control"
Hey I'm just wondering I'm currently using the get-cart endpoint and running into problems with the Cache-Control. I need to be able to have the Cache-Control set to 0 so I can make the request quickly and wondering if that's an option?

[2021-06-17 12:13] seb86 commented on #242
@Maxh1989 Are you using any cache plugin?

[2021-06-17 12:33] seb86 commented on #242
Hope this commit helps. https://github.com/co-cart/co-cart/commit/abcfe106d480a863b7e6680688e2e713583f420f

Beta for v3.1 is near release for testing.

[2021-06-17 14:36] Maxh1989 commented on #242
Thanks so much!

[2021-06-18 22:18] seb86 opened #244 "ISBAT return MSRP Pricing for Products"
WooCommerce Extension: https://woocommerce.com/products/msrp-pricing/

[2021-06-24 18:12] seb86 commented on #210
Done

[2021-06-24 18:12] #210 closed

[2021-06-24 18:12] #242 closed

[2021-07-01 11:47] seb86 opened #248 "WC Admin Note: Products"
Need to update the note for products now that the API is merged.

## Before

Title: 6 things you can do with CoCart Products

Note: Fetching your products via the REST API should be easy with no authentication issues. Learn more about the six things you can do with CoCart Products to help your development with CoCart.

## After

Title: 6 things you can do with Products REST API

Note: Fetching you

[2021-07-01 11:51] seb86 opened #249 "WC Admin Note: Ready to take your headless store to the next level?"
If CoCart Pro is detected even if the plugin is not activated. The note needs to be removed.

[2021-07-02 17:08] #248 closed

[2021-07-02 17:21] #249 closed

[2021-07-20 04:30] filuus opened #253 "Custom response after adding / removing a product from the cart"
Is there any hook that I could modify the response I get after correctly adding / removing a product from the cart. I know I could use this hook `cocart_cart` but I would like to get different responses for the following endpoints:
`wp-json/cocart/v2/cart/add-item`
`wp-json/cocart/v2/cart/item/{item_key}`
`wp-json/cocart/v2/cart`

[2021-07-20 17:13] seb86 commented on #253
@filuus Please use the correct support channels for questions. The GitHub repository is for bug issues or enhancements only.

As for changing the response. API v2 was created based on a lot of feedback wanting the opposite of that. However, you can still change the response at the very end should you wish to do so. [See the response class](https://github.com/co-cart/co-cart/blob/master/includes/cl

[2021-07-20 17:13] #253 closed

[2021-07-23 03:18] cha0ran opened #256 "Activating the plug-in makes the site unusable"
## Describe the bug

When I activate the plugin, there is an error on the frontend of the site, saying "There has been a critical error on this website."
But it doesn't affect the admin backend

## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [ ] The issue still exists against the latest `master` branch of CoCart on GitHub (

[2021-07-23 03:23] seb86 commented on #256
Enable debug mode on your site and report any related CoCart errors please that gets logged. While I feel bad that my plugin has done this to the front-end upon activation, this is most likely a compatibility error. What you sent is not really enough to solve the issue.

[2021-07-23 07:02] cha0ran commented on #256
@seb86
Ok, I opened is debug and got this error

`
Fatal error:
Uncaught TypeError: Argument 2 passed to WPDesk\FS\TableRate\FreeShipping\FreeShippingNotice::__construct() must be an instance of WC_Session, instance of CoCart_Session_Handler given, called in /www/wp-content/plugins/flexible-shipping/classes/class-flexible-shipping-plugin.php on line 434 and defined in /www/wp-content/plugins/flexi

[2021-07-23 07:27] seb86 commented on #256
That plugin fixed that issue. I suggest you update it.

[2021-07-23 07:35] cha0ran commented on #256
The upgrade solved it, thanks a lot 👍

[2021-07-23 07:40] #256 closed

[2021-07-30 11:24] seb86 opened #258 "ISBAT merge carts from a guest to a registered customer."
Reports of late that this feature is not working. Need to re-test and see what is going wrong.

[2021-07-30 13:32] seb86 commented on #258
Bug demonstrated [in this video](https://screencast-o-matic.com/watch/crivIcViLPC).

According to Naeem in live support, it seems to be working only if the cookie for the guest cart is left alone. Should be working with or without cookie.

[2021-07-30 13:54] seb86 commented on #258
Can confirm that if no cookie exists prior to authenticating registered customer, the cart items from the guest cart does not merge.

[2021-08-02 03:23] cha0ran opened #259 "Login API request timeout on password error"
The login API does not return an error when the password is wrong, but rather the request times out.

[2021-08-02 03:45] seb86 commented on #259
Any other details you can share @cha0ran ?

[2021-08-02 06:17] cha0ran commented on #259
@seb86
Ok, I made more attempts and when I entered an incorrect username, the interface returned a 401 error, but when I entered a correct username and an incorrect password, the interface generated a 504 timeout. And this seems to happen in all authentication sessions of the interface.

When the username is incorrect:
[code]

[2021-08-02 10:23] seb86 commented on #259
I did the same as you and all I get is the error you should be getting when doing basic authentication.

[code]

[2021-08-02 10:23] seb86 commented on #259
@cha0ran Maybe increase the timeout when authenticating.

[2021-08-02 12:55] seb86 commented on #258
[This commit](https://github.com/co-cart/co-cart/commit/10caa355c9dd44c7030763d8d5830be0a013323c) should help solve the issue.

[2021-08-03 06:12] cha0ran commented on #259
Wow, that's a strange one then, looks like I need to double check that there are no problems elsewhere.

[2021-08-04 02:08] cha0ran commented on #259
It seems that this problem disappeared after updating the plugin, which was previously used with version 3.0.10.
Thanks

[2021-08-04 02:08] #259 closed

[2021-08-05 10:46] BG-crafts opened #262 "[3.1 beta.1]: Co Cart White Label whilst calling Products V2 endpoint"
## <br />
<b>Warning</b>: Use of undefined constant COCART_WHITE_LABEL - assumed 'COCART_WHITE_LABEL' (this will throw an Error in
a future version of PHP) in
<b>/home/customer/www/bgcraft.co.uk/public_html/wp-content/plugins/cart-rest-api-for-woocommerce/includes/class-cocart.php</b>
on line <b>230</b><br />

## Prerequisites

- [ ] I have searched for similar issues in both open and closed ticke

[2021-08-05 13:17] seb86 commented on #262
Already been fixed but thank you for reporting it.

[2021-08-05 13:17] #262 closed

[2021-08-05 20:26] BG-crafts opened #263 "[3.1 beta.2]: SiteGround Cache Issue"
## Describe the bug

headers already sent by (output started at /home/customer/www/bgcraft.co.uk/public_html/wp-content/plugins/cart-rest-api-for-woocommerce/includes/class-cocart.php:230) in /home/customer/www/bgcraft.co.uk/public_html/wp-content/plugins/sg-cachepress/core/Supercacher/Supercacher_Helper.php on line 79

## Prerequisites

- [x ] I have searched for similar issues in both open and c

[2021-08-05 21:46] seb86 commented on #263
@BG-crafts [Line 230](https://github.com/co-cart/co-cart/blob/v3.1.0-beta.2/includes/class-cocart.php#L230) for that file in CoCart doesn't make sense for it to trigger headers already sent. Have you contacted Siteground for any help on the matter?

I know that their version of PHP runs differently than regular PHP.

The [no cache response](https://github.com/co-cart/co-cart/blob/master/includes/c

[2021-08-05 23:34] BG-crafts commented on #263
this looks like .htaccess issue, all the API links went down completely couldn't get them back up after full cache flushes and permalinks refresh.

Had to go back to a previous backup to understand the changes here will let you know if i find anything

[2021-08-10 05:26] #258 closed

[2021-08-10 05:26] seb86 commented on #263
Any updates on this issue @BG-crafts ?

[2021-08-10 13:17] seb86 opened #265 "[3.1 beta.2]: Already applied coupons to cart are duplicating on the next API request"
## Describe the bug

The same coupons are returning in the cart response over and over again and multiplying on each load.

This is caused by the improved merge cart feature. Coupons are added to the cart with no key assigned so each coupon, when it comes to merging we don't have anything to check if the coupon is already added to the cart.

Everything else has a key that can be checked.

The solu

[2021-08-11 08:42] seb86 commented on #258
That's so weird it's been working fine for me since the commit. Can you do a video for me please?

[2021-08-11 08:50] naeemaly110 commented on #258
yes here is the video url : https://screencast-o-matic.com/watch/crjXjJVjrH0

[2021-08-11 09:16] seb86 commented on #258
Just to confirm you are using JWT as authentication correct? I get reports half the time it doesn't work with JWT because of mis-configurations or the JWT plugin was badly coded but I think from what I am seeing, you are not using Postman correctly when authenticating.

There is a section designed for authentication alone which is what you should be using and from the video you have it set to "Non

[2021-08-11 09:17] seb86 commented on #258
P.S. I also disabled cookie tracking in Postman to test the fix and it worked without cookies too.

[2021-08-12 11:36] seb86 commented on #265
Tests show it's working again.

[2021-08-12 11:36] #265 closed

[2021-08-12 11:36] seb86 commented on #263
Closing issue.

[2021-08-12 11:36] #263 closed

[2021-08-25 04:44] renovate[bot] opened #266 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [Pin dependencies](../pull/175) (`appsero/client`, `composer/installers`)

## Detected dependencies

<details><summary>compo

[2021-09-18 09:10] harishksoft opened #268 "Session conflict with WPML"
I'm using the free version of cocart and when activating wpml woocommerce multilingual plugin an error showing like this "Error message: Uncaught TypeError: Argument 1 passed to WCML\User\Store\WcSession::__construct() must be an instance of WC_Session, instance of CoCart_Session_Handler given" and frontend of the site not loading. how to solve this?

[2021-09-18 18:12] seb86 commented on #268
@harishksoft Can you please test the [latest release candidate](https://cocart.dev/cocart-lite-v3-1-release-candidate-4/) of CoCart and see if you are able to replicate the error.

[2021-09-20 05:06] harishksoft commented on #268
the error not showing anymore.. I think it's fixed now. let me check in detail and get back. once again thank you so much for the plugin and your support @seb86

[2021-09-20 06:10] harishksoft commented on #268
![image](https://user-images.githubusercontent.com/27539252/133962428-6d5caae1-c363-4f46-9965-1c493e8283a5.png)
@seb86 this issue is showing in my error.log file.

[2021-09-21 16:35] DarkChris86 opened #269 "[3.1 rc 4]: Cart does not clear due to session not closing before returning cart results"
## Describe the bug

Cart clear url doesn't clear the cart at the backend.

## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on GitHub (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to re

[2021-09-21 16:41] DarkChris86 opened #270 "[3.1 rc 4]: Add to Cart response crash"
## Describe the bug

Add to cart url response showing a site crash

## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on GitHub (this is **not** the same version as on WordPress.org!)
- [x] I have attempted to find the simplest possible steps to reproduce

[2021-09-21 17:20] harishksoft commented on #268
its common error i think.. even in error log not showing any particular page or line number

[2021-09-23 05:15] harishksoft commented on #268
I have installed and found the following issues :
1. Can't add both variable and simple products to the cart
2. when refreshing the get cart API, sometimes items auto removing.

[2021-09-23 13:58] seb86 commented on #268
A little difficult to help if details are redacted but WPML is not supported so it would make sense if items are automatically removed when changing language as the cart is not in sync.

Can you please check your issue are not related to the following issues: https://github.com/co-cart/co-cart/issues/269 https://github.com/co-cart/co-cart/issues/270

[2021-09-23 18:45] seb86 commented on #270
@DarkChris86 Can you test the [PHP 8 branch](https://github.com/co-cart/co-cart/tree/php8) to see if this error has now disappeared?

[2021-09-24 00:49] seb86 commented on #269
My bad. This bug was caused by supporting a new feature. I have now asked the cart cache to clear when requested to clear the cart.

[2021-09-24 04:13] harishksoft commented on #268
actually, I didn't change the language. I just tried to add items through the API and view them through the front end of the website. as seen in the above screenshot, it shows product added to cart, but not showing in the item array.. and when refreshing the website it says item removed from the cart. also getting the get_cart function is deprecated too.. this was working fine with the previous ve

[2021-09-24 06:29] DarkChris86 commented on #270
@seb86 I can confirm the Add to Cart function related error disappeared.

I got the followings Warnings in PHP 8
`[24-Sep-2021 06:25:50 UTC] cocart_get_cart is deprecated since version 3.0.0 with no alternative available.
[24-Sep-2021 06:25:50 UTC] PHP Warning:  Undefined variable $item_key in /wp-content/plugins/co-cart-master/includes/api/class-cocart-cart-controller.php on line 957
`

[2021-09-24 06:31] DarkChris86 commented on #269
@seb86  I tested with the latest master branch, but still the cart not empty after clear cart request, but maybe it is on your progress list yet.

[2021-09-24 09:08] seb86 commented on #269
@DarkChris86 Your kidding me. It worked fine again for me once I [added the hook](https://github.com/co-cart/co-cart/blob/master/includes/class-cocart-cart-cache.php#L36). I will check again.

[2021-09-24 13:25] seb86 commented on #270
@DarkChris86 Updated PHP8 branch.

[2021-09-24 16:48] DarkChris86 commented on #270
@seb86 Still got these + checked v3.0.12 and there also ( **PHP 8** )

`[24-Sep-2021 16:44:55 UTC] cocart_get_cart is deprecated since version 3.0.0 with no alternative available.
[24-Sep-2021 16:44:55 UTC] PHP Warning:  Undefined variable $item_key in /wp-content/plugins/cart-rest-api-for-woocommerce/includes/api/class-cocart-cart-controller.php on line 915
`

[2021-09-25 12:45] seb86 commented on #270
That last error does not make sense. This is [line 915](https://github.com/co-cart/co-cart/blob/php8/includes/api/class-cocart-cart-controller.php#L915) for that file.

[2021-10-09 10:33] chihao10711 opened #272 "Wrong total price in cart."
In my cart in the field "items" there is a product with price 67.9. However, when checking the "totals" field, the total price shows 6790.
You can check my cURL to see that.
[code]

The version I'm using.
![image](https://user-images.githubusercontent.com/91370163/136654542-0253cac4-5510-4c8a-b6cc-afd6fd743c22.png)

[2021-10-11 14:15] #272 closed, assigned to nobody

[2021-10-13 07:31] vertisan opened #275 "Cannot add items into cart [3.1 RC4]"
## Describe the bug

On the latest RC release (3.1 RC4) on PHP 8, we cannot any items into the cart due to an error with code 500.

## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on GitHub (this is **not** the same version as on WordPress.org!)
- [x] I

[2021-10-15 14:53] AlceoMazza opened #276 "Undefined index: cart in class-cocart-session-handler.php on line 790"
## Describe the bug

The following lines get appended to the body of a response made to endpoints of "wc/v3", "wp/v2" namespaces
[code]

## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on GitHub (this is **not** the same version as on WordPress.org!)
- [

[2021-10-15 15:40] AlceoMazza commented on #276
Great! Thanks @seb86

[2021-10-17 22:11] seb86 commented on #209
This issue if implemented would require developers to acknoledge a broken change and update their code flow for supporting this improvement.

[2021-10-17 22:20] seb86 commented on #140
If you have any questions, please let me know. Thank you.

[2021-10-17 23:14] seb86 opened #277 "Translate into French (Français)"
Would like to have CoCart translated in French.

The original language is written in English specifically (en_US).

Simply [download the original POT](https://raw.githubusercontent.com/co-cart/co-cart/master/languages/cart-rest-api-for-woocommerce.pot) file and create a new translation.

## How to translate.

Easiest way to do it as this issue is for Hacktoberfest is to download the recommended pr

[2021-10-17 23:38] seb86 commented on #276
@AlceoMazza I have not been able to replicate the issue on my end on any REST API request even with Yoast SEO installed. However, I have made an adjustment that I hope works and would like you to test for me. If you no longer get the issue I will push the update.

You can download the working patch from branch [issue-273](https://github.com/co-cart/co-cart/tree/issue-276)

Thank you.

[2021-10-18 00:05] seb86 commented on #275
Thank you for the report. Bug should be solved now which is currently on the master branch.

[2021-10-18 07:50] AlceoMazza commented on #276
Thank you very much @seb86, the patch solves the issue, now I'm able to make requests to `wp/v2` and `wc/v3` endpoints without having the response body broken in debug mode.

[2021-10-18 11:07] #276 closed, assigned to seb86

[2021-10-19 21:53] #204 closed

[2021-11-02 12:15] seb86 opened #281 "Bump minimum requirement for WordPress"
Need to bump the minimum requirement for WordPress to version 5.5 due to using a function that was introduced then that CoCart is now using.

https://developer.wordpress.org/reference/functions/wp_get_environment_type/

Forgot to bump the version over the last 7 updates. 🤦

[2021-11-04 02:17] seb86 opened #284 "Request OPTIONS for any endpoint is not returning proper response"
If you want to view an endpoint for the arguments and the schema, the response just returns `true`.

This is not normal.

[code]
I created a new plugin with an empty REST API route and applied the cart arguments and schema to see if it returns correctly and it does as you can see above, so something within CoCart is preventing the ability to view OPTIONS on any CoCart endpoint.

I'm not sure why.

[2021-11-04 03:44] seb86 commented on #284
Funny. I stopped looking only to find the needle I have been looking for. This bug was introduced since v3.0 and it would only return incorrect for users that are not logged in.

It is triggered via the filter `rest_pre_dispatch`  when it checks if the user has permission to use the endpoint.

I have now updated the response. Now all OPTIONS return correctly for any endpoint.

[2021-11-04 03:47] #284 closed

[2021-11-04 20:11] seb86 commented on #281
This should have been two issues really. The function is now checked to see if it exists first. This will be added to patch v3.0.15

Bumping the minimum requirement for WordPress will be done for v3.1 release.

[2021-11-07 18:04] seb86 opened #285 "PHP Warning: A non-numeric value encountered + PHP Notice: A non well formed numeric value encountered"
There are two PHP issues currently unsolved. One is a warning and the other just a notice. Both are very similar.

Accessing the WordPress dashboard causes a cron-job to have the warning.

[code]

The PHP notice apparently is caused during plugin activation but I have not been able to replicate that.

There are a few sites that run plugin tests of their own for plugins hosted on the WordPress plug

[2021-11-08 15:32] #281 closed

[2021-11-16 12:04] vertisan opened #286 "3.0.16 Cannot load a "guest cart" by a logged user"
## Describe the bug

We cannot load this cart on the already logged user sessions when we create a cart (with or without a custom cart key) without logging in. When we'll use it by a non-logged user, everything is working fine.

## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [ ] The issue still exists against the latest `ma

[2021-11-16 15:08] seb86 commented on #286
Hey @vertisan

I'm sorry to say your report is confusing. Would you mind doing a video demonstrating what your doing? I assume you have tested your issue using Postman or Insomnia?

Look forward to your response so that I can see what is going on.

Thank you.

[2021-11-17 14:55] rozalia opened #287 "3.0.16 Remove Item is failing for some valid cart ids"
## Describe the bug

The `remove_item()` method in `CoCart_Remove_Item_v2_Controller` has a wired condition:

[code]

This will evaluate to `true` for some valid item keys.

## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `master` branch of CoCart on GitHub (this is **not** the s

[2021-11-17 15:28] seb86 commented on #287
Thank you for reporting the bug @rozalia I will run some tests and maybe undo the statement change in the last plugin update.

[2021-11-21 15:59] fatheaddrummer commented on #287
The same issue occurs on the cart item update controller, which makes it impossible to update or remove cart items currently.

[2021-11-21 16:57] fatheaddrummer opened #288 "Custom Cart Item Data not returned, when added to cart"
## Describe the bug

When I add an item to cart with custom `item_data` and set `return_item` to true, the cart Item is returned, but `cart_item_data` is empty. When the cartItem is fetched (`wp-json/cocart/v2/cart/items`), the `cart_item_data` property is returned correctly.

## Prerequisites

- [x ] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
-

[2021-11-21 17:17] seb86 commented on #287
@fatheaddrummer @rozalia Please roll back CoCart to the last stable release v3.0.15. A new patch is in the works. Thank you.

[2021-11-21 17:23] fatheaddrummer commented on #287
@seb86 Thank you!

[2021-11-21 17:44] seb86 commented on #288
@fatheaddrummer I have confirmed the bug and will look into it further.

[2021-11-21 17:50] fatheaddrummer commented on #288
@seb86 Awesome, thank you very much!

[2021-11-21 19:19] seb86 commented on #288
@fatheaddrummer Issue has been fixed and will be available in the next release. May I have your name and WordPress dot org profile so that I can credit your for your contribution.

[2021-11-21 19:20] seb86 commented on #287
@rozalia May I have your WordPress dot org profile so that I can credit you for your contribution?

[2021-11-22 01:59] #288 closed

[2021-11-22 02:00] #287 closed

[2021-11-22 02:01] seb86 commented on #286
I have not been able to replicate any related issue to this. I am closing the issue since you have not responded.

[2021-11-22 02:01] #286 closed

[2021-11-22 09:38] rozalia commented on #287
Hey @seb86 thank you for your quick response, this is my Wordpress.org profile url https://profiles.wordpress.org/rozaliastoilova/

[2021-11-22 16:34] seb86 commented on #287
Thank you @rozalia

Update will be posted on [CoCart.dev/news/](https://cocart.dev/news/)

[2021-11-22 19:41] seb86 commented on #288
Hey @fatheaddrummer A new release candidate is now available for testing. Details here: https://cocart.dev/cocart-lite-v3-0-17-release-candidate-1/

[2021-11-22 19:42] seb86 commented on #287
Hey @rozalia A new release candidate is now available for testing. Details here: https://cocart.dev/cocart-lite-v3-0-17-release-candidate-1/

[2021-11-23 17:35] qstudio opened #289 "add_to_cart request filter"
when adding items to the cart, the filter on the Request object is run after the ID, quantity, variation & item_data is taken and filtering these items has no effect.

Our use case requires that products are passed as a hash, and then we would want to filter the request to translate the passed product hash into the product ID.

This could be achieved simply be re-ordering the filter location, so t

[2021-11-23 17:55] seb86 commented on #289
@qstudio The point of adding the filter after was so that the main parameters are not altered before to prevent issues. Why are the products passed as a hash?

[2021-11-24 09:20] qstudio commented on #289
we sell products which require specific consultations to be completed before they can be purchased and we also pull all product data from a centralized API, in both cases hashes allow us to related child products to the parent product and avoid people adding items to their carts which they are not allowed to purchase.

But, in any case, I don't see the point of a filter which does not allow you to

[2021-11-24 09:26] qstudio commented on #289
If people use filters incorrectly, for example in a way that corrupts the request object params, the logical part of the endpoint, such as the part that validates if the product ID is correct and valid, will capture the error and reject the request - that is the same risk applied to any filter inside WP, but also part of what makes it a flexible system!

[2021-11-24 10:49] qstudio commented on #289
Just to confirm that I can achieve the same result using a standard WP REST API filter `rest_request_before_callbacks`

[2021-11-24 10:49] #289 closed

[2021-11-30 12:08] anna1801 opened #290 "Cart key is not translating on view cart rest API woocommerce"
Cart key is not translating on view cart rest API woocommerce while switch to another language. Only product id is translating. And also update cart is not working due to the cart key issue while change language. WPML plugin is user to translate the website

[2021-11-30 16:00] #290 closed

[2021-11-30 21:41] seb86 commented on #285
A similar error that was reported for the return of the item weight could be a more definitive reason why this error occurred.

The REST API does now run in the WordPress dashboard even when not all endpoints are accessed directly due to all the changes made for Gutenberg and Widgets in the core of WordPress not to mention any WooCommerce pages and CoCart pages.

Seeing an update of tests from bot

[2021-12-01 21:56] Vickystha opened #291 "BUG: Conflict with WooCommerce Follow Up Emails plugin extension due to hard coded session handler"
I'm experiencing an issue with CoCart plugin when browsing WordPress/WooCommerce backend. It breaks a critical page for another WooCommerce plugin (https://woocommerce.com/products/follow-up-emails/). An example URL of where the error occurs is:
http://example.com/wp-admin/admin.php?page=followup-emails-reports&tab=reportuser_view&user_id=123&email=john@example.com

The error trace is as following

[2021-12-02 00:57] seb86 commented on #291
After examining the "Follow Ups" extension I can say that because they way it's developed, it's not going to work with CoCart at this time and here is why.

1. Where the issue is located, the default WooCommerce session handler is loaded, however, the developers have hard coded the session class that is used. There is no filter available as provided by WooCommerce so it makes stores using their ow

[2021-12-03 00:22] Vickystha commented on #291
Thanks @seb86. Hopefully this can be resolved soon.

[2021-12-07 15:36] #270 closed

[2021-12-07 15:37] #275 closed

[2021-12-07 17:42] seb86 commented on #269
So even though the clear cart route has it's response changed from just a message response to returning the cart object, the session was not closing at all times. Also the cart class was not wiping even though the session was.

We attempted to clear the session instead because an internal function within the cart class for the fees was set as **private** and calling `WC->cart->empty_cart()` was no

[2021-12-10 13:50] evokelektrique commented on #277
Would you like to have other languages translations like Persian ?

[2021-12-13 17:59] seb86 commented on #277
@evokelektrique Yes, please do translate into what ever language you know. Same instructions, just make sure you select the correct language before you start.

[2021-12-13 20:01] evokelektrique commented on #277
@seb86 Alright then, I'll keep you posted.

[2021-12-14 18:22] seb86 opened #297 "ISBAT set the cart key via header"
**Is this enhancement related to a problem? Please describe.**
Some hosts are caching post requested data so the cart response is not returning updated.

This issue is only happening for guest customers.

**Describe the solution you'd like**
Submit `X-COCART-API` header with the cart key.

[2021-12-14 18:45] seb86 opened #298 "New Feature: Save Cart for Later"
While there are a few WooCommerce extensions in the marketplace for this we want to support it better from a data prospective.

A new database table will store all the customers choice of products with no timeout (could be filtered to add a timestamp).

This would also allow administrators or shop manager role users to prepare a cart of items for a customer and assign a customer to the saved cart

[2021-12-19 17:54] seb86 opened #299 "Improve PHPDocs so it matches WordPress customized documentation schema"
**Is this enhancement related to a problem? Please describe.**

The PHPDocs are in need of improvement. Trying to provide a code reference search like [WordPress developer code reference](https://developer.wordpress.org/reference/) but there are things missing in order to produce content from the source code that will help developers find what they are looking for.

**Describe the solution you'd l

[2021-12-27 11:21] danishashraf047 opened #300 "Need an option to add products along with their add-ons in the endpoint"
CoCart is a great library and works well. There must be a feature to add products along with their add-ons.

I'm implementing your provided Restful APIs. Now, I'm stuck to adding products into the cart with their add-ons. I also have gone through the documentation but couldn't get any method of how we can add products with their add-ons. If you could add this feature so it would be good. I need to

[2022-01-14 03:57] cha0ran opened #303 "Snap Pixel compatibility error"
The Snap Pixel plugin causes the add car interface to return data exceptions because it does html code output on the woocommerce_add_to_car hook, which is a really bad piece of code. Is there any way to fix it?

[code]

OMG😡

[2022-01-15 01:38] seb86 commented on #303
I don't see how it's adding data to the cart. It makes no sense to have JS trigger there. If this is the official Snap chat plugin in partner with WooCommerce then WooCommerce should help the developers improve this.

If you have any further information please post here otherwise for the time being I'm closing this issue.

[2022-01-15 01:38] #303 closed

[2022-01-15 06:49] cha0ran commented on #303
1. request `/wp-json/cocart/v2/cart/add-item`
2. When executed, the woocommerce_add_to_cart hook is triggered.
[code]

At this point the snap plugin code on the hook is executed, because the javascript script in the code is not in the <?php ? > tag, which is equivalent to echo this code directly at this point, resulting in this extra code before the interface returns the information.

The final in

[2022-01-19 09:19] cha0ran commented on #303
@seb86
Hi, sorry to bother you again on this issue, I gave the problem in the code in my last reply and hope to get help. Maybe I should have asked snap for help more, but they are very slow to respond and I can only continue to ask for help here.

I have tried to remove the hook but without success and now have to disable the snap plugin, but I still hope they will work together.

[2022-01-27 12:58] boutzamat opened #305 "cocart_get_cart is deprecated"
## Describe the bug

When fetching the cart via API (logged in user), WP generates an error in the error log:
2022/01/27 12:36:51 [error] 85459#85459: *4973 FastCGI sent in stderr: "PHP message: cocart_get_cart is deprecated since version 3.0.0 with no alternative available" while reading response header from upstream, client: 192.168.100.100, server: vuecommerce.lan, request: "GET /wp-json/cocart

[2022-01-28 00:20] seb86 commented on #305
[This PR ](https://github.com/co-cart/co-cart/commit/07aa2c259d87981dcf4f3d2312442caec8326718) seems to have fixed the issue according to @boutzamat

Closing issue.

[2022-01-28 00:20] #305 closed

[2022-02-14 03:09] seb86 commented on #297
May not be needed with API v3. Experiment with new session initialization seems to work well so no need to use cart key as a parameter no longer. 👍

[2022-02-24 17:05] luco opened #312 "Compatibility: Invalid Data Store when accessing WP dashboard as a vendor (user role) with WooCommerce - WC Marketplace plugin active."
## Describe the bug

## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [ ] The issue still exists against the latest `master` branch of CoCart on GitHub (this is **not** the same version as on WordPress.org!)
- [ ] I have attempted to find the simplest possible steps to reproduce the issue.
- [ ] I have installed the requireme

[2022-02-24 17:10] seb86 commented on #312
@luco You have not provided your WordPress environment as requested in the template. Please edit your original posting and add it.

Go to "WooCommerce > System Status then copy and paste the system status report please. Thank you.

[2022-02-24 17:21] luco commented on #312
@seb86 Done!

[2022-02-24 17:26] seb86 commented on #312
Thank you. I wouldn't have known the WC version you see. Kind of important.

[2022-02-24 17:27] luco commented on #312
It's happening on production as well. Only if the plugin is active and the logged user tries to use the ajax/wp-admin

[2022-02-24 17:29] seb86 commented on #312
Could you provide actual steps to reproduce as CoCart doesn't do any AJAX.

[2022-02-24 17:30] luco commented on #312
I know, what I mean is that I only discovered this error when doing ajax (which goes to wp-admin/ajax.php).

[2022-02-24 17:32] seb86 commented on #312
Just go to ajax.php without any parameters?

[2022-02-24 17:33] luco commented on #312
No. Sorry for the confusion. When a user (not admin) is logged, the wp-admin throws this error.

[2022-02-24 17:40] seb86 commented on #312
And what user roles do you have?

[2022-02-24 17:45] luco commented on #312
Many, but in this case is the Vendor role.

[2022-02-24 17:52] seb86 commented on #312
So compatibility with Multivendor Marketplace Solution for WooCommerce - WC Marketplace is the issue. OK. I will look into it. Thank you for reporting the issue.

[2022-02-24 18:19] luco commented on #312
The plugin url: https://wc-marketplace.com/

[2022-02-25 08:18] sbosh commented on #291
We're experience the same problem with CoCart plugin with our own plugin.
Solved when we added the following check.
`			// Check the CoCart session handler is used but is NOT a CoCart REST API request.
			if ( ! WC()->session instanceof CoCart_Session_Handler) {
				return;
			}
			if ( WC()->session instanceof CoCart_Session_Handler && ! CoCart_Authentication::is_rest_api_request() ) {
				return

[2022-02-25 12:51] seb86 commented on #140
Finally got round to adding namespaces. Still a work in progress [on the dev branch](https://github.com/co-cart/co-cart/tree/dev) which will be the new master branch.

[2022-03-01 18:23] seb86 commented on #291
Closing issue for now as there has not been any further reports.

[2022-03-01 18:23] #291 closed

[2022-03-01 18:25] seb86 commented on #269
Closing as there has been no further reports.

[2022-03-01 18:25] #269 closed

[2022-03-01 18:26] seb86 commented on #285
Closing for now as there has not been any further reports.

[2022-03-01 18:26] #285 closed

[2022-03-01 18:32] #218 closed

[2022-03-01 18:33] #297 closed

[2022-03-02 13:00] seb86 opened #319 "[v3.1] When updating individual item in cart, the product data is not passed when validating the quantity."
## Describe the bug

Same as the issue title: When updating individual item in cart, the product data is not passed when validating the quantity.

## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `trunk` branch of CoCart on GitHub (this is **not** the same version as on WordPress.

[2022-03-02 13:00] seb86 commented on #319
This issue was reported by Rahul in live chat.

[2022-03-02 15:03] #319 closed, assigned to nobody

[2022-03-10 11:46] samimakela opened #320 "[v3.1+] Cart not appearing once cart loaded from session"
## Describe the bug

Using cocart-load-cart URL parameter does not load cart contents, but empties cart entirely. Worked perfectly with version 3.0.17, but after upgrading to 3.1.1, problem appeared immediately.

## Prerequisites

- [x] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue still exists against the latest `trunk` branch of C

[2022-03-10 15:02] seb86 commented on #320
@samimakela Thank you for reporting the error. I couldn't understand why this was happening but it appears the totals can't be calculated once the session has loaded. It doesn't destroy the cart but for some odd reason it prevents the cart from appearing.

A patch will be pushed shortly.

[2022-03-10 15:24] #320 closed, assigned to nobody

[2022-03-16 10:29] maketheboat opened #322 "CoCart 3.1.2 Review nag is not dismissable"
The nag at the top of the page always returns, no matter how many times it is dismissed - this is the second such nag issue - however there was a filter the remove previous notices, this one seems to have no filter to control it.

Install version 3.1.2 and visit an admin page.

- [x ] I have searched for similar issues in both open and closed tickets and cannot find a duplicate.
- [x] The issue st

[2022-03-16 11:13] seb86 commented on #322
@qstudio It probably doesn't believe you left a review. LOL

No, seriously I will look into the issue. Thank you for reporting it.

[2022-03-16 11:18] maketheboat commented on #322
I'll surely leave a great review, once you fix this ;) Of course, seriously, thanks for the great plugins, it plugs a huge gap in WC!

[2022-03-16 13:19] luco commented on #312
@seb86 Any updates on this?

[2022-03-16 14:44] seb86 commented on #312
Not yet I'm afraid @luco Has the WC Marketplace plugin developers said anything?

[2022-03-17 10:13] seb86 commented on #312
@luco I'm experimenting with a filter that prevents any WC admin notes by CoCart to be disabled, but after reviewing WC Admin and my code, it looks more of a compatibility issue on their end when it comes to vendor user roles.

I have yet to see the source code but the plugin may be doing something hacky that stops a required class to load in the backend.

I don't have a marketplace demo site to t

[2022-03-17 12:10] seb86 commented on #322
Can confirm that the dismiss action is saving a value under the `wp_usermeta` table but it's still being ignored on the next page load. 🤔

[2022-03-17 12:44] maketheboat commented on #322
A short term fix is to disable all nags with a global filter:

```\add_filter( 'cocart_show_admin_notice', function(){ return false; } );```

[2022-03-17 12:51] seb86 commented on #322
Issue is now fixed and will be pushed with the next update.

[2022-03-17 12:51] #322 closed, assigned to nobody

[2022-03-17 13:18] seb86 commented on #312
OK, I think the issue was a priority order issue because now that I have updated my WC Admin notes and deprecated support for older versions, I seem to be able to access the WP Dashboard as a vendor. You will have to download the trunk branch and test it for me but I think it should be fine now.